
	<div class="container">
		<section class="section section-details">
			<div class="shell">
				<div class="main">
					<div class="content">
						<div class="widget-share sticky-sidebar" *ngIf="articleModel">
							<div class="widget-content">
								<a routerLink="/" class="link-close-share"></a>

								<span class="widget-meta">
									{{articleModel?.date | date}}
									<strong>Lebanon</strong>
								</span>
								<div class="widget-image" *ngIf="articleMode?.writer != null">
									<a routerLink="/Contributor/{{articleModel.writer?.id}}">
										<img src="{{RESIZED_CONTENT_PATH}}48x52xo/{{articleModel.writer?.image}}" alt="{{articleModel.writer?.name}}">
									</a>

									<span class="author">
										By :<br />

										<a routerLink="/Contributor/{{articleModel.writer?.id}}">{{articleModel.writer.name}}</a>
									</span><!-- /.author -->
								</div><!-- /.widget-image -->

								<div class="socials-tertiary">
									<a class="toggle-share">
										<i class="fa fa-share-alt" aria-hidden="true"></i>
									</a>

									<ul>
										<li>
											<a >
												<i class="fa fa-facebook" aria-hidden="true"></i>
												<iframe class="fb-iframe" [src]="articleModel.fbShareSrc | safeUrl" width="59" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
											</a>
										</li>
										
										<li (click)="Tweet(shareLink, articleModel?.title, twitterUsername)">
											<a>
												<i class="fa fa-twitter" aria-hidden="true"></i>
											</a>
										</li>
										
										<li>
													<a href="https://plus.google.com/share?url={{shareLink}}" onclick="javascript:window.open(this.href,
													'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
												
										</li>
										
										<li>
											<a href="mailto:?subject={{articleModel?.title}}&body={{shareLink}}">
												<i class="fa fa-envelope" aria-hidden="true"></i>
											</a>
										</li>
									</ul>
								</div><!-- /.socials-tertiary -->

								<ul class="list-actions">
									<li>
										<a href="#" class="link-text-large">
											<span>A</span>
										</a>
									</li>
									
									<li>
										<a href="#" class="link-text-small">
											<span>A</span>
										</a>
									</li>
									
									<li>
										<a data-psy-pop="login" *ngIf="!(user?.isLogged)">
											<span>
												<i class="fa fa-heart-o" aria-hidden="true"></i>
											</span>
										</a>
										<a data-psy-pop="add-to-fav-confirm" *ngIf="user?.isLogged">
											<span>
												<i class="fa fa-heart-o" aria-hidden="true"></i>
											</span>
										</a>
									</li>
									
									<li class="comment-action">
										<a >
											<span>
												<i class="fa fa-comment-o" aria-hidden="true"></i>
											</span>
										</a>
									</li>
									
									<li>
										<a class="link-print">
											<span>
												<i class="fa fa-print" aria-hidden="true"></i>
											</span>
										</a>
									</li>
								</ul><!-- /.list-actions -->
							</div><!-- /.widget-content -->
						</div><!-- /.widget -->

						<article class="article article-details">
							<div class="{{articleModel?.isArabic ? 'rtl' : ''}}" *ngIf="articleModel">
								<div class="article-image article-image-gallery alignleft" *ngIf="articleModel.image">
								<img src="{{RESIZED_CONTENT_PATH}}357x383xo/{{articleModel.image}}" alt="">

								<a href="#" class="link-gallery" *ngIf="articleModel?.ArticleImages != null && articleModel?.ArticleImages.length - 1 > 0">
									<i class="fa fa-camera" aria-hidden="true"></i>
								
									+{{articleModel.ArticleImages.length - 1}}
								</a>
								</div><!-- /.article-image -->

								<header class="article-head">
								<h1 class="article-title">{{articleModel.title}}</h1><!-- /.article-title -->

								<a href="#" class="link-listen">
								<!-- <a class="link-listen" href="http://app.readspeaker.com/cgi-bin/rsent?customerid=5204&amp;lang=en_us&amp;speed=[speed from 0 to 200, 140 recommended]&amp;readid=[ID of element you want read]&amp;url=[full URL of page]&amp;audiofilename=[file name for downloadable MP3 (optional)]" 
								onclick="readpage(this.href, '[ID of element where you want player controls to display]'); return false;"
								target="_blank"> -->
									<img src="../../assets/images/temp/play-button.png" alt="">
								</a>
								</header><!-- /.article-head -->

								<div class="article-body" id="article-body">
								<div class="article-group">
									<span [innerHTML]="articleModel.descriptionArr[0]"></span>
									<div class="quote-primary alignright" *ngIf="articleModel?.middleQuote != null && articleModel?.middleQuote != '' && articleModel.descriptionArr.length > 1">
									<span class="top">
										<i class="fa fa-quote-left" aria-hidden="true"></i>
									</span>
									
									<blockquote> {{articleModel.middleQuote}}</blockquote>
									
									<span class="bottom">
										<i class="fa fa-quote-right" aria-hidden="true"></i>
									</span>
									</div><!-- /.quote-primary -->
									<span *ngIf="articleModel?.middleQuote != null && articleModel?.middleQuote != '' && articleModel?.descriptionArr.length > 1" [innerHTML]="articleModel.descriptionArr[1]"></span>
								</div><!-- /.article-group -->

								<div class="article-group" *ngIf="(articleModel.descriptionArr.length > 1 && (articleModel.middleQuote == null || articleModel.middleQuote == '')) || (articleModel.descriptionArr.length > 2)">
									<div class="article-image alignleft" *ngIf="articleModel.ArticleImages != null && articleModel.ArticleImages.length > 0">
									<img src="{{RESIZED_CONTENT_PATH}}486x324xi/{{articleModel.ArticleImages[0].image}}" alt="{{articleModel.title}}">
									
									<a href="#" class="link-gallery" *ngIf="articleModel.ArticleImages != null && articleModel.ArticleImages.length - 1 > 0">
										<i class="fa fa-camera" aria-hidden="true"></i>
									
										+{{articleModel.ArticleImages.length - 1}}
									</a>
									</div><!-- /.article-image -->
									<span [innerHTML]="articleModel.middleQuote == null || articleModel.middleQuote == '' ? articleModel.descriptionArr[1] : articleModel.descriptionArr[2]"></span>
								
								</div><!-- /.article-group -->
								</div><!-- /.article-body -->

								<div class="article-foot" *ngIf="articleModel">
								<div class="article-meta {{articleModel.isArabic ? 'rtl' : ''}}" *ngIf="articleModel.tags != null && articleModel.tags.length">
									<h5>Tags</h5>

									<ul class="list-tags">
									<li *ngFor="let tag of articleModel.tags">
										<a >{{tag.title}}</a>
									</li>
									</ul><!-- /.list-tags -->
								</div><!-- /.article-meta -->

								<ul class="widgets" *ngIf="articleModel.alsoByAuthor != null && articleModel.alsoByAuthor.length">
									<li class="widget-primary">
									<div class="widget-head">
										<h3 class="widget-title">
										<span>ALSO BY THIS AUTHOR</span>

										<a href="#">
											<i class="fa fa-plus-circle" aria-hidden="true"></i>
										</a>
										</h3><!-- /.widget-title -->
									</div><!-- /.widget-head -->
									
									<div class="widget-body">
										<ul class="posts">
										<li class="post {{item.isArabic ? 'rtl' : ''}}" *ngFor="let item of articleModel.alsoByAuthor">
											<div class="post-inner">
											<header class="post-head">
												<h2 class="post-title">
												<a routerLink="/Details/{{item.id}}">{{item.title}}</a>
												</h2><!-- /.post-title -->
											</header><!-- /.post-head -->
											
											<div class="post-body">
												<div class="post-image">
												<a routerLink="/Details/{{item.id}}">
													<img src="{{RESIZED_CONTENT_PATH}}135x94xo/{{item.image}}" alt="{{item.title}}">
												</a>
												</div><!-- /.post-image -->
												<span [innerHTML]="item.smallDescription"></span>
											</div><!-- /.post-body -->
											
											<footer class="post-foot">
												<ul class="list-meta">
												<li *ngIf="articleModel.writer">
													<a routerLink="/Contributor/{{articleModel.writer.id}}">
													<i class="ico-logo"></i>
											
													By {{articleModel.writer.name}}
													</a>
												</li>
												
												<li>
													<a routerLink="/Details/{{item.id}}">{{item.date | date:'MMM d'}}</a>
												</li>
												</ul><!-- /.list-meta -->
											</footer><!-- /.post-foot -->
											</div><!-- /.post-inner -->
										</li><!-- /.post -->

										
										</ul><!-- /.posts -->
									</div><!-- /.widget-body -->
									</li><!-- /.widget -->
								</ul><!-- /.widgets -->
								</div><!-- /.article-foot -->

								<div class="article-comments" id="fb-comments-container">
								<!-- <img src="../../assets/images/temp/comments.jpg" alt="" class="hidden-xs">

								<img src="../../assets/images/temp/comments-mobile.jpg" alt="" class="visible-xs-block"> -->
								<div class="fb-comments" attr.data-href="http://localhost:4200/Details/{{articleModel.id}}" data-numposts="5" width="100%"></div>
								</div><!-- /.article-comments -->
							</div>
						</article><!-- /.article article-details -->
					</div><!-- /.content -->

					<div class="sidebar sticky-sidebar">
						<ul class="widgets">
							<li class="widget-primary">
								<header class="widget-head">
									<h3 class="widget-title">
										<span>
											<i class="ico-title"></i>
											
											Also Read
										</span>
									</h3><!-- /.widget-title -->
								</header><!-- /.widget-head -->
							
								<div class="widget-body">
									<div class="tabs">
										<div class="tabs-head">
											<nav class="tabs-nav">
												<ul>
													<li class="current">
														<a href="#tab11">RELATED<br /> STORIES</a>
													</li>
													
													<li>
														<a href="#tab12">RECENT<br /> STORIES</a>
													</li>
												</ul>
											</nav><!-- /.tabs-nav -->
										</div><!-- /.tabs-head -->
										
										<div class="tabs-body">
											<div class="tab current" id="tab11">
												<ul class="list-news list-news-round">
													<li *ngFor="let item of articleModel?.relatedStories" class="{{item.isArabic ? 'rtl' : ''}}">
														<span *ngIf="item.image">
															<a routerLink="/Details/{{item.id}}">
																<img src="{{RESIZED_CONTENT_PATH}}63x63xo/{{item.image}}" alt="{{item.title}}">
															</a>
														</span>
							
														<h4>
															<a routerLink="/Details/{{item.id}}">{{item.title}}</a>
														</h4>
													</li>
													
												
												</ul><!-- /.list-news -->
											</div><!-- /.tab -->
							
											<div class="tab" id="tab12">
												<ul class="list-news list-news-round">
													<li *ngFor="let item of articleModel?.recentStories" class="{{item.isArabic ? 'rtl' : ''}}">
														<span *ngIf="item.image">
															<a routerLink="/Details/{{item.id}}">
																<img src="{{RESIZED_CONTENT_PATH}}63x63xo/{{item.image}}" alt="{{item.title}}">
															</a>
														</span>
							
														<h4>
															<a routerLink="/Details/{{item.id}}">{{item.title}}</a>
														</h4>
													</li>
												</ul><!-- /.list-news -->
											</div><!-- /.tab -->
										</div><!-- /.tabs-body -->
									</div><!-- /.tabs -->
								</div><!-- /.widget-body -->
							</li><!-- /.widget-primary -->

							<li class="widget-subscribe visible-xs-block">
								<div class="widget-content">
									<div class="subscribe">
										<i class="ico-newsletter"></i>

										<form action="?" method="post">
											<label for="mail">
												<span>
													<i class="fa fa-envelope" aria-hidden="true"></i>
												</span>

												<strong>
													JOIN OUR <br />
													
													NEWSLETTER
												</strong>
											</label>
											
											<input type="email" id="mail" name="mail" value="" placeholder="Enter E-mail Address" class="subscribe-field">
											
											<input type="submit" value="Join" class="subscribe-btn btn">
										</form>
									</div><!-- /.subscribe -->

									
								    <div class="socials" social-block [model]="sharedModel?.socialMedia" *ngIf="sharedModel?.socialMedia?.length > 0">
									</div><!-- /.socials -->
									
								</div><!-- /.widget-content -->
							</li><!-- /.widget -->
						</ul><!-- /.widgets -->
					</div><!-- /.sidebar -->
				</div><!-- /.main -->
			</div><!-- /.shell -->
		</section><!-- /.section section-details -->

		<section class="section section-details section-next animations" data-animation="slideInUp" *ngIf="articleModel?.nextArticle">
			<a routerLink="/Details/{{articleModel?.nextArticle?.id}}{{articleModel?.nextArticle?.customUrlTitle ? '/' + articleModel?.nextArticle?.customUrlTitle : ''}}" class="link-next">
				<span>
					<i class="ico-next"></i>
				
					Next Article
				</span>
			</a>

			<div class="shell">
				<div class="main">
					<div class="content">
						<div class="widget-share">
							<div class="widget-content">
								<a href="#" class="link-close-share"></a>

								<span class="widget-meta">
										{{articleModel?.nextArticle?.date | date}}

									<strong>Lebanon</strong>
								</span>

								<div class="widget-image" *ngIf="articleModel.nextArticle?.writer != null">
										<a routerLink="/Contributor/{{articleModel.nextArticle?.writer?.id}}">
											<img src="{{RESIZED_CONTENT_PATH}}48x52xo/{{articleModel?.nextArticle?.writer?.image}}" alt="{{articleModel.nextArticle?.writer?.name}}">
										</a>
	
										<span class="author">
											By :<br />
	
											<a routerLink="/Contributor/{{articleModel.nextArticle?.writer?.id}}">{{articleModel.nextArticle.writer.name}}</a>
										</span><!-- /.author -->
									</div><!-- /.widget-image -->
								

								<div class="socials-tertiary">
									<a href="#" class="toggle-share">
										<i class="fa fa-share-alt" aria-hidden="true"></i>
									</a>

									<ul>
										<li>
											<a href="#">
												<i class="fa fa-facebook" aria-hidden="true"></i>
											</a>
										</li>
										
										<li>
											<a href="#">
												<i class="fa fa-twitter" aria-hidden="true"></i>
											</a>
										</li>
										
										<li>
											<a href="#">
												<i class="fa fa-google-plus" aria-hidden="true"></i>
											</a>
										</li>
										
										<li>
											<a href="#">
												<i class="fa fa-envelope" aria-hidden="true"></i>
											</a>
										</li>
									</ul>
								</div><!-- /.socials-tertiary -->

								<ul class="list-actions">
									<li>
										<a href="#" class="link-text-large">
											<span>A</span>
										</a>
									</li>
									
									<li>
										<a href="#" class="link-text-small">
											<span>A</span>
										</a>
									</li>
									
									<li>
										<a href="#">
											<span>
												<i class="fa fa-heart-o" aria-hidden="true"></i>
											</span>
										</a>
									</li>
									
									<li class="comment-action">
										<a >
											<span>
												<i class="fa fa-comment-o" aria-hidden="true"></i>
											</span>
										</a>
									</li>
									
									<li>
										<a href="#">
											<span>
												<i class="fa fa-print" aria-hidden="true"></i>
											</span>
										</a>
									</li>
								</ul><!-- /.list-actions -->
							</div><!-- /.widget-content -->
						</div><!-- /.widget -->

						<article class="article article-details">
							<div class="{{articleModel?.nextArticle.isArabic ? 'rtl' : ''}}" *ngIf="articleModel.nextArticle">
									<div class="article-image article-image-gallery alignleft" *ngIf="articleModel.nextArticle.image">
										<img src="{{RESIZED_CONTENT_PATH}}357x383xo/{{articleModel.nextArticle.image}}" alt="">
					
										<a href="#" class="link-gallery" *ngIf="articleModel?.nextArticle.ArticleImages != null && articleModel?.nextArticle.ArticleImages.length - 1 > 0">
										<i class="fa fa-camera" aria-hidden="true"></i>
										
										+{{articleModel.nextArticle.ArticleImages.length - 1}}
										</a>
									</div><!-- /.article-image -->
					
									<header class="article-head">
										<h1 class="article-title">{{articleModel.nextArticle.title}}</h1><!-- /.article-title -->
					
										<a href="#" class="link-listen">
										<!-- <a class="link-listen" href="http://app.readspeaker.com/cgi-bin/rsent?customerid=5204&amp;lang=en_us&amp;speed=[speed from 0 to 200, 140 recommended]&amp;readid=[ID of element you want read]&amp;url=[full URL of page]&amp;audiofilename=[file name for downloadable MP3 (optional)]" 
										onclick="readpage(this.href, '[ID of element where you want player controls to display]'); return false;"
										target="_blank"> -->
										<img src="../../assets/images/temp/play-button.png" alt="">
										</a>
									</header><!-- /.article-head -->
					
									<div class="article-body" id="article-body">
										<div class="article-group">
										<span [innerHTML]="articleModel.nextArticle.descriptionArr[0]"></span>
										<div class="quote-primary alignright" *ngIf="articleModel?.nextArticle.middleQuote != null && articleModel?.nextArticle.middleQuote != '' && articleModel.nextArticle.descriptionArr.length > 1">
											<span class="top">
											<i class="fa fa-quote-left" aria-hidden="true"></i>
											</span>
										
											<blockquote> {{articleModel.nextArticle.middleQuote}}</blockquote>
										
											<span class="bottom">
											<i class="fa fa-quote-right" aria-hidden="true"></i>
											</span>
										</div><!-- /.quote-primary -->
										<span *ngIf="articleModel?.nextArticle.middleQuote != null && articleModel?.nextArticle.middleQuote != '' && articleModel?.nextArticle.descriptionArr.length > 1" [innerHTML]="articleModel.nextArticle.descriptionArr[1]"></span>
										</div><!-- /.article-group -->
					
										<div class="article-group" *ngIf="(articleModel.nextArticle.descriptionArr.length > 1 && (articleModel.nextArticle.middleQuote == null || articleModel.nextArticle.middleQuote == '')) || (articleModel.nextArticle.descriptionArr.length > 2)">
										<div class="article-image alignleft" *ngIf="articleModel.nextArticle.ArticleImages != null && articleModel.nextArticle.ArticleImages.length > 0">
											<img src="{{RESIZED_CONTENT_PATH}}486x324xi/{{articleModel.nextArticle.ArticleImages[0].image}}" alt="{{articleModel.nextArticle.title}}">
										
											<a href="#" class="link-gallery" *ngIf="articleModel.nextArticle.ArticleImages != null && articleModel.nextArticle.ArticleImages.length - 1 > 0">
											<i class="fa fa-camera" aria-hidden="true"></i>
											
											+{{articleModel.ArticleImages.length - 1}}
											</a>
										</div><!-- /.article-image -->
										<span [innerHTML]="articleModel.nextArticle.middleQuote == null || articleModel.nextArticle.middleQuote == '' ? articleModel.nextArticle.descriptionArr[1] : articleModel.nextArticle.descriptionArr[2]"></span>
										
										</div><!-- /.article-group -->
									</div><!-- /.article-body -->
									</div>
						</article><!-- /.article article-details -->
					</div><!-- /.content -->

					<div class="sidebar">
						<ul class="widgets">
							<li class="widget-primary">
								<header class="widget-head">
									<h3 class="widget-title">
										<span>
											<i class="ico-title"></i>

											Also Read
										</span>
									</h3><!-- /.widget-title -->
								</header><!-- /.widget-head -->
							
								<div class="widget-body">
									<div class="tabs">
										<div class="tabs-head">
											<nav class="tabs-nav">
												<ul>
													<li class="current">
														<a href="#tab31">RELATED STORIES</a>
													</li>
													
													<li>
														<a href="#tab32">RECENT STORIES</a>
													</li>
												</ul>
											</nav><!-- /.tabs-nav -->
										</div><!-- /.tabs-head -->
										
										<div class="tabs-body">
											<div class="tab current" id="tab31">
												<ul class="list-news list-news-round">
													<li>
														<span>
															<a href="#">
																<img src="../../assets/images/temp/news11.jpg" alt="">
															</a>
														</span>
							
														<h4>
															<a href="#">The Supreme Court fight is about democracy</a>
														</h4>
													</li>
													
													<li>
														<span>
															<a href="#">
																<img src="../../assets/images/temp/news12.jpg" alt="">
															</a>
														</span>
							
														<h4>
															<a href="#">DARS Media Roundup (January 2016)</a>
														</h4>
													</li>
													
													<li>
														<span>
															<a href="#">
																<img src="../../assets/images/temp/news13.jpg" alt="">
															</a>
														</span>
							
														<h4>
															<a href="#">Romney argues to vote for an open convention</a>
														</h4>
													</li>
													
													<li>
														<span>
															<a href="#">
																<img src="../../assets/images/temp/news14.jpg" alt="">
															</a>
														</span>
							
														<h4>
															<a href="#">Part of River Road in Bethesda is closed</a>
														</h4>
													</li>
													
													<li>
														<span>
															<a href="#">
																<img src="../../assets/images/temp/news15.jpg" alt="">
															</a>
														</span>
							
														<h4>
															<a href="#">Securing Tomorrow With David Ignatius</a>
														</h4>
													</li>
												</ul><!-- /.list-news -->
											</div><!-- /.tab -->
							
											<div class="tab" id="tab32">
												<ul class="list-news list-news-round">
													<li>
														<span>
															<a href="#">
																<img src="../../assets/images/temp/news12.jpg" alt="">
															</a>
														</span>
							
														<h4>
															<a href="#">DARS Media Roundup (January 2016)</a>
														</h4>
													</li>
													
													<li>
														<span>
															<a href="#">
																<img src="../../assets/images/temp/news13.jpg" alt="">
															</a>
														</span>
							
														<h4>
															<a href="#">Romney argues to vote for an open convention</a>
														</h4>
													</li>
													
													<li>
														<span>
															<a href="#">
																<img src="../../assets/images/temp/news14.jpg" alt="">
															</a>
														</span>
							
														<h4>
															<a href="#">Part of River Road in Bethesda is closed</a>
														</h4>
													</li>
													
													<li>
														<span>
															<a href="#">
																<img src="../../assets/images/temp/news15.jpg" alt="">
															</a>
														</span>
							
														<h4>
															<a href="#">Securing Tomorrow With David Ignatius</a>
														</h4>
													</li>
												</ul><!-- /.list-news -->
											</div><!-- /.tab -->
										</div><!-- /.tabs-body -->
									</div><!-- /.tabs -->
								</div><!-- /.widget-body -->
							</li><!-- /.widget-primary -->
						</ul><!-- /.widgets -->
					</div><!-- /.sidebar -->
				</div><!-- /.main -->
			</div><!-- /.shell -->
		</section><!-- /.section section-details -->
	</div><!-- /.container -->