<div class="popup popup-tertiary mfp-hide" id="popup-add-to-fav-confirm">
	<div class="popup-inner">
		<header class="popup-head">
			<i class="ico-logo-square"></i>

			<small>“ New Turkey: Toward an Authoritarian and Sectarian Police State ”</small>
			
			<a href="#" class="link-close-popup">
				<i class="fa fa-times" aria-hidden="true"></i>
			</a>
		</header><!-- /.popup-head -->

		<div class="popup-body">
			<h4>ARE YOU SURE YOU WANT TO ADD THIS TO YOUR FAVORITES?</h4>

			<ul class="list-inline">
				<li>
					<a class="btn btn-secondary btn-blue" data-psy-pop="add-to-fav-folders">Yes, Add to folder</a>
				</li>
				
				<li>
					<a class="btn btn-secondary btn-transparent-white psy-close-popup">No, Thank you!</a>
				</li>
			</ul><!-- /.list-inline -->
		</div><!-- /.popup-body -->
	</div><!-- /.popup-inner -->
</div><!-- /.popup popup-tertiary -->

<div class="popup popup-tertiary mfp-hide" id="popup-add-to-fav-folders">
	<div class="popup-inner">
		<header class="popup-head">
			<i class="ico-logo-square"></i>

			<a href="#" class="link-close-popup">
				<i class="fa fa-times" aria-hidden="true"></i>
			</a>
		</header><!-- /.popup-head -->

		<div class="popup-body">
			<div class="dropdown">
				<header class="dropdown-head">
          <a class="btn btn-secondary btn-blue link-folders no-binding {{isLoadingFolders ? 'hide-arrow' : ''}}" (click)="dispay_folders($event)">Choose folder</a>
          <div class="sk-fading-circle carret-loader" *ngIf="isLoadingFolders">
            <div class="sk-circle1 sk-circle"></div>
            <div class="sk-circle2 sk-circle"></div>
            <div class="sk-circle3 sk-circle"></div>
            <div class="sk-circle4 sk-circle"></div>
            <div class="sk-circle5 sk-circle"></div>
            <div class="sk-circle6 sk-circle"></div>
            <div class="sk-circle7 sk-circle"></div>
            <div class="sk-circle8 sk-circle"></div>
            <div class="sk-circle9 sk-circle"></div>
            <div class="sk-circle10 sk-circle"></div>
            <div class="sk-circle11 sk-circle"></div>
            <div class="sk-circle12 sk-circle"></div>
          </div>
				</header><!-- /.dropdown-head -->
				
				<div class="dropdown-body scrollable-vertical" style="max-height: 250px">
					<ul>
						<li class="add">
							<a data-psy-pop="create-folder-for-article">Create Folder</a>
						</li>
						
						<li class="{{i == 0 ? 'selected' : ''}}" attr.data-folder-id="{{item.id}}" *ngFor="let item of userFolders; let i = index">
							<a >{{item.title}}</a>
						</li>
		
					</ul>
				</div><!-- /.dropdown-body -->

				<footer class="dropdown-foot" *ngIf="!isAddingArticle && userFolders?.length">
					<a  class="btn btn-secondary btn-block btn-transparent-white" (click)="add_article_to_folder($event)">+ Add</a>
        </footer><!-- /.dropdown-foot -->
        <div class="sk-fading-circle follow-loader" *ngIf="isAddingArticle">
            <div class="sk-circle1 sk-circle"></div>
            <div class="sk-circle2 sk-circle"></div>
            <div class="sk-circle3 sk-circle"></div>
            <div class="sk-circle4 sk-circle"></div>
            <div class="sk-circle5 sk-circle"></div>
            <div class="sk-circle6 sk-circle"></div>
            <div class="sk-circle7 sk-circle"></div>
            <div class="sk-circle8 sk-circle"></div>
            <div class="sk-circle9 sk-circle"></div>
            <div class="sk-circle10 sk-circle"></div>
            <div class="sk-circle11 sk-circle"></div>
            <div class="sk-circle12 sk-circle"></div>
          </div>
			</div><!-- /.dropdown -->
		</div><!-- /.popup-body -->
	</div><!-- /.popup-inner -->
</div><!-- /.popup popup-tertiary -->

<div class="popup popup-tertiary mfp-hide" id="popup-create-folder-for-article">
	<div class="popup-inner">
		<header class="popup-head">
			<i class="ico-logo-square"></i>

			<a href="#" class="link-close-popup">
				<i class="fa fa-times" aria-hidden="true"></i>
			</a>
		</header><!-- /.popup-head -->

		<div class="popup-body">
			<h4>Create Folder</h4>

			<div class="folder">
				<div class="form-folder">
					<form (submit)="create_folder_and_add_article($event, newFolder.value)" #newFolder="ngForm">
						<div class="form-body">
							<div class="form-controls">
								<input type="text" class="field" name="title" id="field-folder"  placeholder="" [(ngModel)]="newFolder.title">
							</div><!-- /.form-controls -->
						</div><!-- /.form-body -->
						<div class="form-actions">
							<a class="" (click)="create_folder_and_add_article($event, newFolder.value)">save</a>
						</div><!-- /.form-actions -->
						<input type="submit" class="hidden"/>
					</form>
				</div><!-- /.form-folder -->
				<div class="form-row">
					
				</div><!-- /.form-row -->

				
      </div><!-- /.folder -->
      <ul class="form-errors folder-popup-errors" *ngIf="formErrors?.length">
          <li *ngFor="let item of formErrors">{{item}}</li>
        </ul>
      
		</div><!-- /.popup-body -->
	</div><!-- /.popup-inner -->
</div><!-- /.popup popup-tertiary -->

<div class="popup popup-tertiary mfp-hide" id="popup-added-to-fav">
	<div class="popup-inner">
		<header class="popup-head">
			<i class="ico-logo-square"></i>

			<a href="#" class="link-close-popup">
				<i class="fa fa-times" aria-hidden="true"></i>
			</a>
		</header><!-- /.popup-head -->

		<div class="popup-body">
			<h4>
				THE SELECTED ARTICLE HAS BEEN <br />
				ADDED TO YOUR FOLDER!
			</h4>
		</div><!-- /.popup-body -->
	</div><!-- /.popup-inner -->
</div><!-- /.popup popup-tertiary -->