    <header class="widget-head">
      <h3 class="widget-title">
        <span>
          <i class="ico-title"></i>

          MORE STORIES
        </span>
  
        <a href="#">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
      </h3><!-- /.widget-title -->
    </header><!-- /.widget-head -->
  
    <div class="widget-body">
      <div class="tabs">
        <div class="tabs-head">
          <nav class="tabs-nav">
            <ul>
              <li class="current">
                <a href="#tab11">FEATURED</a>
              </li>
              
              <li>
                <a href="#tab12">RECENT</a>
              </li>
            </ul>
          </nav><!-- /.tabs-nav -->
        </div><!-- /.tabs-head -->
        
        <div class="tabs-body">
          <div class="tab current" id="tab11">
            <ul class="list-news list-news-round" *ngIf="featured">
              <li *ngFor="let item of featured" class="{{item.isArabic ? 'rtl' : ''}}">
                <span *ngIf="item.image">
                  <a title="{{item.title}}" routerLink="/Details/{{item.id + (item.customUrlTitle ? '/' + item.customUrlTitle : '')}}">
                    <img src="{{RESIZED_CONTENT_PATH}}63x63xo/{{item.image}}" alt="{{item.title}}">
                  </a>
                </span>
  
                <h4>
                  <a title="{{item.title}}" routerLink="/Details/{{item.id + (item.customUrlTitle ? '/' + item.customUrlTitle : '')}}">{{item.title}}</a>
                </h4>
              </li>
            </ul><!-- /.list-news -->
          </div><!-- /.tab -->
  
          <div class="tab" id="tab12">
            <ul class="list-news list-news-round" *ngIf="recent">
              <li *ngFor="let item of recent" class="{{item.isArabic ? 'rtl' : ''}}">
                <span *ngIf="item.image">
                  <a title="{{item.title}}" routerLink="/Details/{{item.id + (item.customUrlTitle ? '/' + item.customUrlTitle : '')}}">
                    <img src="{{RESIZED_CONTENT_PATH}}63x63xo/{{item.image}}" alt="{{item.title}}">
                  </a>
                </span>
  
                <h4>
                  <a title="{{item.title}}" routerLink="/Details/{{item.id + (item.customUrlTitle ? '/' + item.customUrlTitle : '')}}">{{item.title}}</a>
                </h4>
              </li>
            </ul><!-- /.list-news -->
          </div><!-- /.tab -->
        </div><!-- /.tabs-body -->
      </div><!-- /.tabs -->
    </div><!-- /.widget-body -->