<footer class="footer">
		<div class="shell">
			<div class="footer-content">
				<a href="#" class="link-sitemap">Open sitemap</a>

				<div class="cols">
					<div class="col">
						<h5>
							Jadaliyya
						</h5>

						<ul class="list-links">
							<li>
								<a title="About" routerLink="/AboutUs">About</a>
							</li>

							<li>
								<a title="About" routerLink="/AboutUs">The Team</a>
							</li>

							<li>
								<a title="Contributors" routerLink="/Contributors">Authors</a>
							</li>

							<li>
								<a title="Donate" routerLink="/Donate">Donate</a>
							</li>
                            <li>
								<a data-psy-pop="popup-advertise">Advertise with us</a>
							</li>

							<li>
								<a title="Contact" routerLink="/ContactUs">Contact</a>
							</li>
						</ul><!-- /.list-links -->
					</div><!-- /.col -->

					<div class="col">
						<h5>
							Submissions
						</h5>

						<ul class="list-links">
							<li>
								<a href="#">Submission Guidelines</a>
							</li>

							<li *ngIf="user?.isLogged && user?.user?.isWriter">
								<a data-psy-pop="popup-submit-article">Submit an Article</a>
							</li>

							<li>
								<a data-psy-pop="popup-submit-announcment">Submit an Announcement</a>
							</li>

							<li>
								<a href="#">Release Form</a>
							</li>

							<li>
								<a title="Privacy Policy" routerLink="/PrivacyPolicy">Privacy Policy</a>
							</li>

							<li>
								<a title="Terms Of Service" routerLink="/TermsOfServices">Terms Of Service</a>
							</li>
						</ul><!-- /.list-links -->
					</div><!-- /.col -->

					<div class="col" *ngIf="globalModel?.footerCategories?.length > 8">
						<h5>
							Topical Pages
						</h5>

						<ul class="list-links" li-link [model]="globalModel?.footerCategories?.slice(8, 17)" route="'Category'">
							
						</ul><!-- /.list-links -->
					</div><!-- /.col -->

					<div class="col">
						<h5>
							Special Features
						</h5>

						<ul class="list-links">
							<li *ngFor="let item of globalModel?.footerCategories?.slice(0, 8)">
								<a title="{{item.title}}" routerLink="/Category/{{item.id + (item.customUrlTitle ? '/' + item.customUrlTitle : '')}}">{{item.title}}</a>
							</li>

							<li>
								<a title="Jadaliyya Navigation" routerLink="/JadNavigation">Jad Navigation</a>
							</li>
						</ul><!-- /.list-links -->
					</div><!-- /.col -->

					<div class="col" *ngIf="globalModel?.footerCountries?.length">
						<h5>
							Country Pages
						</h5>

						<ul class="list-links" li-link [model]="globalModel?.footerCountries?.slice(0,8)" [route]="'Country'">
						</ul><!-- /.list-links -->
					</div><!-- /.col -->

					<div class="col" *ngIf="globalModel?.arabicSubCategories?.length">
						<h5>
							<a title="القسم العربي" routerLink="/Category/{{ARABIC_SECTION_ID}}/القسم-العربي">Arabic Section</a>
						</h5>

						<ul li-link class="list-links rtl" [model]="globalModel?.arabicSubCategories?.slice(0, 8)" [route]="'Category'" [isArabic]="true">
						</ul><!-- /.list-links -->
					</div><!-- /.col -->
				</div><!-- /.cols -->
			</div><!-- /.footer-content -->

			<div class="footer-inner">
					<div class="socials socials-secondary hidden-xs" social-block [model]="sharedModel?.socialMedia" [addClass]="false" *ngIf="sharedModel?.socialMedia?.length > 0">
	                </div><!-- /.socials -->
				

				<ul class="list-devices" *ngIf="globalModel?.mobileLinks?.length">
					<li>
						<i class="fa fa-mobile" aria-hidden="true"></i>
					</li>

					<li *ngFor="let item of globalModel?.mobileLinks">
						<a href="{{item.link}}" target="_blank">
							<i class="fa fa-{{item.title.toLowerCase().indexOf('itunes') > -1 ? 'apple' : 'android'}}" aria-hidden="true"></i>
						</a>
					</li>

				</ul><!-- /.list-devices -->

				<a  class="link-newsletter hidden-xs" data-psy-pop="detailed-newsletter">
					<i class="fa fa-envelope" aria-hidden="true"></i>

					Join Our Newsletter
				</a>

				<p class="copyright">
					Copyright &copy; {{currentYear}}. By

					<a href="http://koein.com" target="_blank">Ⓚ koein</a>
				</p><!-- /.copyright -->
			</div><!-- /.footer-inner -->
		</div><!-- /.shell -->
	</footer><!-- /.footer -->