<footer class="footer">
		<div class="shell">
			<div class="footer-content">
				<a href="#" class="link-sitemap">Open sitemap</a>

				<div class="cols">
					<div class="col">
						<h5>
							Jadaliyya
						</h5>

						<ul class="list-links">
							<li>
								<a href="About-us.html">About</a>
							</li>

							<li>
								<a href="#">The Team</a>
							</li>

							<li>
								<a href="Writers.html">Authors</a>
							</li>

							<li>
								<a href="#">Donate</a>
							</li>
                            <li>
								<a href="ajax/popup-advertise.html" class="link-popup">Advertise with us</a>
							</li>

							<li>
								<a href="Contact-us.html">Contact</a>
							</li>
						</ul><!-- /.list-links -->
					</div><!-- /.col -->

					<div class="col">
						<h5>
							Submissions
						</h5>

						<ul class="list-links">
							<li>
								<a href="#">Submission Guidelines</a>
							</li>

							<li>
								<a href="ajax/popup-new-article-no-files.html" class="link-popup">Submit an Article</a>
							</li>

							<li>
								<a href="ajax/popup-announcement.html" class="link-popup">Submit an Announcement</a>
							</li>

							<li>
								<a href="#">Release Form</a>
							</li>

							<li>
								<a href="Privacy-policy.html">Privacy Policy</a>
							</li>

							<li>
								<a href="#">Terms Of Service</a>
							</li>
						</ul><!-- /.list-links -->
					</div><!-- /.col -->

					<div class="col">
						<h5>
							Topical Pages
						</h5>

						<ul class="list-links">
							<li>
								<a href="Culture.html">Culture</a>
							</li>

							<li>
								<a href="#">Cities</a>
							</li>

							<li>
								<a href="Media.html">Media</a>
							</li>

							<li>
								<a href="#">Law and Conflict</a>
							</li>

							<li>
								<a href="#">Newton</a>
							</li>

							<li>
								<a href="#">Critical Currents in Islam</a>
							</li>

							<li>
								<a href="#">Vox Populi</a>
							</li>

							<li>
								<a href="#">DARS (Resistance/Subversion)</a>
							</li>

							<li>
								<a href="#">Reviews</a>
							</li>
						</ul><!-- /.list-links -->
					</div><!-- /.col -->

					<div class="col">
						<h5>
							Special Features
						</h5>

						<ul class="list-links">
							<li>
								<a href="#">Pedagogy</a>
							</li>

							<li>
								<a href="#">Quick Thoughts</a>
							</li>

							<li>
								<a href="#">Profiles</a>
							</li>

							<li>
								<a href="#">Photography</a>
							</li>

							<li>
								<a href="#">Jadeo (Video)</a>
							</li>

							<li>
								<a href="#">Jad Navigation</a>
							</li>
						</ul><!-- /.list-links -->
					</div><!-- /.col -->

					<div class="col">
						<h5>
							Country Pages
						</h5>

						<ul class="list-links">
							<li>
								<a href="Other-Country.html">Arabian Peninsula</a>
							</li>

							<li>
								<a href="#">Egypt</a>
							</li>

							<li>
								<a href="#">Maghreb</a>
							</li>

							<li>
								<a href="#">Palestine</a>
							</li>

							<li>
								<a href="Syria.html">Syria</a>
							</li>

							<li>
								<a href="#">Turkey</a>
							</li>
						</ul><!-- /.list-links -->
					</div><!-- /.col -->

					<div class="col">
						<h5>
							<a href="Arab-sections.html">Arabic Section</a>
						</h5>

						<ul class="list-links rtl">
							<li>
								<a href="#">ثقافة</a>
							</li>

							<li>
								<a href="Arab-sections-10.html">سياسة</a>
							</li>

							<li>
								<a href="#">إقتصاد</a>
							</li>

							<li>
								<a href="#">تاريخ</a>
							</li>
						</ul><!-- /.list-links -->
					</div><!-- /.col -->
				</div><!-- /.cols -->
			</div><!-- /.footer-content -->

			<div class="footer-inner">
				<div class="socials socials-secondary hidden-xs">
					<ul>
						<li>
							<a href="#">
								<i class="fa fa-twitter" aria-hidden="true"></i>
							</a>
						</li>

						<li>
							<a href="#">
								<i class="fa fa-facebook" aria-hidden="true"></i>
							</a>
						</li>

						<li>
							<a href="#">
								<i class="fa fa-youtube-play" aria-hidden="true"></i>
							</a>
						</li>

						<li>
							<a href="#">
								<i class="fa fa-vimeo" aria-hidden="true"></i>
							</a>
						</li>

						<li>
							<a href="#">
								<i class="fa fa-soundcloud" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
				</div><!-- /.socials -->

				<ul class="list-devices">
					<li>
						<i class="fa fa-mobile" aria-hidden="true"></i>
					</li>

					<li>
						<a href="#">
							<i class="fa fa-apple" aria-hidden="true"></i>
						</a>
					</li>

					<li>
						<a href="#">
							<i class="fa fa-android" aria-hidden="true"></i>
						</a>
					</li>
				</ul><!-- /.list-devices -->

				<a href="ajax/newsletter-popup.html" class="link-newsletter link-popup hidden-xs">
					<i class="fa fa-envelope" aria-hidden="true"></i>

					Join Our Newsletter
				</a>

				<p class="copyright">
					Copyright &copy; 2016. By

					<a href="#">Ⓚ koein</a>
				</p><!-- /.copyright -->
			</div><!-- /.footer-inner -->
		</div><!-- /.shell -->
	</footer><!-- /.footer -->