
<div class="popup popup-thank-you mfp-hide" id="popup-message">
	<div class="popup-inner">
		<i class="ico-logo-square"></i>

		<h3 class="popup-title" [innerHTML]="sharedModel?.messagePopup">
		</h3><!-- /.popup-title -->

		<a href="#" class="link-close-popup">
			<i class="fa fa-times" aria-hidden="true"></i>
		</a>
	</div><!-- /.popup-inner -->
</div><!-- /.popup -->

<app-register *ngIf="!(user?.isLogged)"></app-register>

<div class="popup popup-thank-you mfp-hide" id="thank-you-register">
	<div class="popup-inner">
		<i class="ico-logo-square"></i>

		<h3 class="popup-title">
			THANK YOU!<br />
			
			YOU ARE NOW REGISTERED TO JADALIYYA.
		</h3><!-- /.popup-title -->

		<a href="#" class="link-close-popup">
			<i class="fa fa-times" aria-hidden="true"></i>
		</a>
	</div><!-- /.popup-inner -->
</div><!-- /.popup -->
<div class="popup popup-thank-you mfp-hide" id="thank-you-register-writer">
	<div class="popup-inner">
		<i class="ico-logo-square"></i>

		<h3 class="popup-title">
			THANK YOU FOR YOUR INTEREST TO <br />

			JOIN OUR GROUP OF WRITERS.
		</h3><!-- /.popup-title -->

		<p>Our team will review your request and confirm back to you by email once your account is activated.</p>

		<a href="#" class="link-close-popup">
			<i class="fa fa-times" aria-hidden="true"></i>
		</a>
	</div><!-- /.popup-inner -->
</div><!-- /.popup -->

<app-login *ngIf="!(user?.isLogged)"></app-login>

<app-submit-article *ngIf="user?.isLogged && user?.user?.isWriter"></app-submit-article>

<app-forgot-password *ngIf="!(user?.isLogged)"></app-forgot-password>



<app-detailed-newsletter></app-detailed-newsletter>



<div class="popup popup-thank-you mfp-hide" id="popup-thank-you">
	<div class="popup-inner">
		<i class="ico-logo-square"></i>

		<h3 class="popup-title">
			THANK YOU FOR YOUR INTEREST TO <br />

			JOIN OUR GROUP OF WRITERS.
		</h3><!-- /.popup-title -->

		<p>Our team will review your request and confirm back to you by email once your account is activated.</p>

		<a href="#" class="link-close-popup">
			<i class="fa fa-times" aria-hidden="true"></i>
		</a>
	</div><!-- /.popup-inner -->
</div><!-- /.popup -->

<div class="popup popup-thank-you mfp-hide" id="popup-thank-you1">
	<div class="popup-inner">
		<i class="ico-logo-square"></i>

		<h3 class="popup-title">
			THANK YOU!<br />

			WE WILL GET BACK TO YOU SOON.
		</h3><!-- /.popup-title -->

		<a href="#" class="link-close-popup">
			<i class="fa fa-times" aria-hidden="true"></i>
		</a>
	</div><!-- /.popup-inner -->
</div><!-- /.popup -->

<div class="popup popup-thank-you mfp-hide" id="thank-you-advertice">
	<div class="popup-inner">
		<i class="ico-logo-square"></i>

		<h3 class="popup-title">
			THANK YOU!<br />
			
			YOUR REQUEST HAS BEEN SUCCESSFULLY SENT.
		</h3><!-- /.popup-title -->

		<a href="#" class="link-close-popup">
			<i class="fa fa-times" aria-hidden="true"></i>
		</a>
	</div><!-- /.popup-inner -->
</div><!-- /.popup -->


<div class="popup popup-thank-you mfp-hide" id="thank-you-share">
	<div class="popup-inner">
		<i class="ico-logo-square"></i>

		<h3 class="popup-title">
			THANK YOU!<br />
			
			AN EMAIL HAS BEEN SENT TO YOUR FRIEND.
		</h3><!-- /.popup-title -->

		<a href="#" class="link-close-popup">
			<i class="fa fa-times" aria-hidden="true"></i>
		</a>
	</div><!-- /.popup-inner -->
</div><!-- /.popup -->

<div class="popup popup-thank-you mfp-hide" id="forgot-pass">
	<div class="popup-inner">
		<i class="ico-logo-square"></i>

		<h3 class="popup-title">
			AN EMAIL HAS BEEN SENT.
		</h3><!-- /.popup-title -->

		<a href="#" class="link-close-popup">
			<i class="fa fa-times" aria-hidden="true"></i>
		</a>
	</div><!-- /.popup-inner -->
</div><!-- /.popup -->

<div class="popup popup-thank-you mfp-hide" id="logged-in">
	<div class="popup-inner">
		<i class="ico-logo-square"></i>

		<h3 class="popup-title">
			You have been logged in.
		</h3><!-- /.popup-title -->

		<a href="#" class="link-close-popup">
			<i class="fa fa-times" aria-hidden="true"></i>
		</a>
	</div><!-- /.popup-inner -->
</div><!-- /.popup -->

<div class="popup popup-thank-you mfp-hide" id="add-article">
	<div class="popup-inner">
		<i class="ico-logo-square"></i>

		<h3 class="popup-title">
			Article added successfully.
		</h3><!-- /.popup-title -->

		<a href="#" class="link-close-popup">
			<i class="fa fa-times" aria-hidden="true"></i>
		</a>
	</div><!-- /.popup-inner -->
</div><!-- /.popup -->

<div class="popup popup-thank-you mfp-hide" id="save-account">
	<div class="popup-inner">
		<i class="ico-logo-square"></i>

		<h3 class="popup-title">
			My account saved.
		</h3><!-- /.popup-title -->

		<a href="#" class="link-close-popup">
			<i class="fa fa-times" aria-hidden="true"></i>
		</a>
	</div><!-- /.popup-inner -->
</div><!-- /.popup -->

<div class="search">
		<div class="search-inner">
			<!-- <form (submit)="submit_search($event, searchForm.value)" #searchForm="ngForm">
				<label for="q" class="hidden">Search</label>
				
				<input type="search" name="keyword" id="q"  placeholder="search by keyword ..." class="search-field" [(ngModel)]="keyword">
				
				<button type="submit" class="search-btn">
					<i class="fa fa-search" aria-hidden="true"></i>
				</button>
			</form> -->
			<span class="search-coming-soon">Coming Soon ..</span>
		</div><!-- /.search-inner -->
	</div><!-- /.search -->
<div class="bar {{sharedModel?.country?.hasTemplate ? 'bar-secondary' : ''}} ">
	<a href="#" class="link-nav {{sharedModel?.isArabicSection ? 'rtl':''}}">
		<i class="fa fa-bars" aria-hidden="true"></i>

		<span >{{sharedModel?.isArabicSection ? 'صفحات':'Pages'}}</span>
		
		<span class="visible-xs-inline ">{{sharedModel?.isArabicSection ? 'صفحات':'Menu'}}</span>
	</a>
<span class="psy-beta-mobile">BETA</span>
	<a routerLink="/" class="logo">Jadaliyya</a>

	<nav class="nav-primary {{sharedModel?.isArabicSection ? 'rtl' : ''}}">
		<ul>
			<li class="{{item.id == sharedModel?.categoryId ? 'current' : ''}}" *ngFor="let item of globalModel?.headerCountries">
					<a routerLink="{{item.id == ARABIAN_PENINSULA ? 'Category' : 'Country'}}/{{item?.id}}{{item?.customUrlTitle ? '/' + item?.customUrlTitle : ''}}" *ngIf="!item.isOnMenu">{{sharedModel?.isArabicSection && item?.arTitle ? item?.arTitle : item?.title}}</a>
			</li>
			<li class="{{sharedModel?.isArabicSection ? 'current rtl arabic' : ''}}" *ngIf="!(user?.isLogged)">
			<a routerLink="/Category/{{ARABIC_SECTION_ID}}/القسم-العربي" class="rtl arabic">القسم العربي</a>
			</li>
			
		</ul>
	</nav><!-- /.nav-primary -->

	<nav class="nav-access" >
		<ul>
			<li *ngIf="!(user?.isLogged)">
				<a data-psy-pop="login">
					<span class="rtl">دخول</span> <i class="fa fa-user" aria-hidden="true"></i>

					<span class="hidden-xs">Login</span>
				</a>
				<!-- <a href="ajax/popup-login.html" class="link-popup">
					<span class="rtl">دخول</span> <i class="fa fa-user" aria-hidden="true"></i>

					<span class="hidden-xs">Login</span>
				</a> -->
			</li>
			<li class="has-dropdown" *ngIf="user?.isLogged">
				<a >
					Welcome<span class="hidden-xs hidden-sm">: {{user?.user?.fullname}}</span>
				</a>

				<div class="dropdown">
					<ul class="list-works" *ngIf="user?.isLogged && user?.user?.isWriter && user?.writer">
						<li>
							<strong>{{user?.writer?.articles}}</strong>

							articles
						</li>
						
						<li>
							<strong>{{user?.writer?.followers}}</strong>

							Followers
						</li>
					</ul><!-- /.list-works -->
					<ul>
						<li *ngIf="user?.user?.isWriter && user?.writer">
							<a data-psy-pop="submit-article">Add Article</a>
						</li>
						<li *ngIf="user?.user?.isWriter && user?.writer">
							<a title="My Articles" routerLink="/Account/Articles/Published">My Articles</a>
						</li>
						<li *ngIf="!(user?.user?.isWriter && user?.writer)">
							<a title="My Favorites" routerLink="/Account/Favorites" href="##">My Favorites</a>
						</li>
						
						<li>
							<a title="My Account" routerLink="/Account">My Account </a>
						</li>
						
						<li *ngIf="!(user?.user?.isWriter && user?.writer)">
							<!-- <a title="Newsletter" routerLink="/Account/Newsletter">Newsletter</a> -->
							<a title="Newsletter"  data-psy-pop="detailed-newsletter">Newsletter</a>
						</li>
						
						<li>
							<a title="Jadaliyya" (click)="membership.logout($event)">Log out</a>
						</li>
					</ul>
				</div><!-- /.dropdown -->
			</li>

			<li class="visible-xs-inline-block">
				<a class="link-search" (click)="open_search()">
					<i class="fa fa-search" aria-hidden="true"></i>
				</a>
			</li>
		</ul>
	</nav><!-- /.nav-access -->
</div><!-- /.bar -->

<nav class="nav-sidebar">
	<a href="#" class="link-nav {{sharedModel?.isArabicSection ? 'rtl':''}}">
		<i class="fa fa-bars" aria-hidden="true"></i>

		<span class="hidden-xs">{{sharedModel?.isArabicSection ? 'صفحات':'Pages'}}</span>

		<span class="visible-xs-inline-block">{{sharedModel?.isArabicSection ? 'صفحات':'Menu'}}</span>
	</a>

	<div class="nav-inner scrollable-vertical">
		<ul>
			<li>
				<a routerLink="/">Home</a>
			</li>

			<li>
				<a routerLink="/Category/{{ARABIC_SECTION_ID}}" class="rtl">القسم العربي</a>
			</li>

			<li *ngFor="let item of globalModel?.headerCountries">
					<a routerLink="Country/{{item?.id}}{{item?.customUrlTitle ? '/' + item?.customUrlTitle : ''}}">{{item?.title}}</a>
				</li>

			<li>
				<a class="otherLink" (click)="openSubMenu()">OTHER COUNTRIES</a>
			</li>
		</ul>

		<ul>
			<li *ngFor="let item of globalModel?.submenuCategories">
				<a title="{{item?.title}}" routerLink="/Category/{{item?.id + (item?.id == ROUNDUPS_CATEGORY_ID ? '/' + ROUNDUPS_MEDIA_URL_TITLE : '')}}">{{item?.title}}</a>
			</li>
	
			<li>
				<a title="About" routerLink="/AboutUs">About</a>
			</li>

			<li>
				<a title="About" routerLink="/AboutUs">The Team</a>
			</li>

			<li>
				<a title="Authors" routerLink="/Contributors">Authors</a>
			</li>

			<li>
				<a >Donate</a>
			</li>
			<li>
				<a >Advertise with us</a>
			</li>
			<li>
				<a title="Contact Us" routerLink="/ContactUs">Contact</a>
			</li>
				<li>
				<a>Release Form</a>
			</li>
				<li>
				<a title="Privacy Policy" routerLink="/PrivacyPolicy">Privacy Policy</a>
			</li>
				<li>
				<a title="Terms Of Service" routerLink="/TermsOfServices">Terms Of Service</a>
			</li>
		</ul>

		<div class="socials visible-xs-block" social-block [model]="sharedModel?.socialMedia" *ngIf="sharedModel?.socialMedia?.length > 0">
		</div><!-- /.socials -->
		
	</div><!-- /.nav-inner scrollable-vertical -->



	<div class="subMenu" *ngIf="globalModel?.submenuCountries">
		<div class="mobTitle" onclick="closeSubMenu()">OTHER COUNTRIES</div>
		<div class="wrap scrollable-vertical">
		<ul>
		<li *ngFor="let item of globalModel?.submenuCountries"><a routerLink="Country/{{item?.id}}{{item?.customUrlTitle ? '/' + item?.customUrlTitle : ''}}">{{item?.title}}</a></li>
		</ul>
		</div>
	</div>



</nav><!-- /.nav-sidebar -->
	
<a href="#" class="link-search-close"></a>


<header class="header" *ngIf="sharedModel?.currentRoute == 'home' ">
	<div class="shell">
		<a routerLink="/" class="logo">Jadaliyya</a>
		<span class="psy-home-beta">BETA</span>
		<nav class="nav" *ngIf="globalModel?.headerCategories != undefined && globalModel?.headerCategories.length">
			<ul>
				<li class="has-dropdown" *ngFor="let cat of globalModel?.headerCategories; let catIndex = index" (mouseover)='load_cat_articles(cat.id, catIndex)'>
					<a title="{{cat.title}}" routerLink="/Category/{{cat.id}}">{{cat.title}}</a>

					<div class="dropdown">
							<div class="sk-fading-circle" *ngIf="!(headerCategoryArticles != undefined && headerCategoryArticles[catIndex]?.length > 0)">
								<div class="sk-circle1 sk-circle"></div>
								<div class="sk-circle2 sk-circle"></div>
								<div class="sk-circle3 sk-circle"></div>
								<div class="sk-circle4 sk-circle"></div>
								<div class="sk-circle5 sk-circle"></div>
								<div class="sk-circle6 sk-circle"></div>
								<div class="sk-circle7 sk-circle"></div>
								<div class="sk-circle8 sk-circle"></div>
								<div class="sk-circle9 sk-circle"></div>
								<div class="sk-circle10 sk-circle"></div>
								<div class="sk-circle11 sk-circle"></div>
								<div class="sk-circle12 sk-circle"></div>
							</div>
							<div class="shell" *ngIf="headerCategoryArticles != undefined && headerCategoryArticles[catIndex]?.length > 0 ">
								
								<ul class="widgets">
									<li class="widget-dropdown" *ngFor="let item of headerCategoryArticles[catIndex]">
										
										<div class="widget-image">
											<a title="{{item.title}}" routerLink="/Details/{{item.id}}">
												<img src="{{RESIZED_CONTENT_PATH}}322x209xi/{{item.image}}" alt="{{item.title}}">
											</a>
										</div><!-- /.widget-image -->
			
										<div class="widget-head">
											<h3 class="widget-title">
												<a title="{{item.title}}" routerLink="/Details/{{item.id}}">{{item.title}}</a>
											</h3><!-- /.widget-title -->
										</div><!-- /.widget-head -->
			
										<div class="widget-body">
											<ul class="list-meta">
												<li *ngIf="item?.writer">
													<a title="{{item?.writer?.name}}" routerLink="/Contributor/{{item?.writer?.id}}">
														<i class="ico-logo"></i>
			
														By {{item?.writer?.name}}
													</a>
												</li>
			
												<li>
													<a title="{{item.title}}" routerLink="/Details/{{item.id}}">{{item.date | date:'MMM d'}}</a>
												</li>
											</ul><!-- /.list-meta -->
										</div><!-- /.widget-body -->
									</li><!-- /.widget -->
								</ul><!-- /.widgets -->
			
								<a title="{{cat.title}}" routerLink="/Category/{{cat.id}}" class="link-more-pages">View More from {{cat.title}} Page</a>
							</div><!-- /.shell -->
					</div><!-- /.dropdown -->
				</li>

			
				<!--<li>
					<a href="Arab-sections.html" class="rtl">القسم العربي</a>
				</li>-->

				<li>
					<a class="link-search" (click)="open_search()">
						<i class="fa fa-search" aria-hidden="true"></i>
					</a>
				</li>
			</ul>
		</nav><!-- /.nav -->
	</div><!-- /.shell -->
</header><!-- /.header -->

<header class=" header-secondary {{sharedModel?.country?.hasTemplte ? 'header-secondary-alt header-shadow' : ''}} {{sharedModel?.categoryId == ARABIC_SECTION_ID ? 'header header-arabic' : ''}} {{sharedModel?.country?.hasTemplate ? '' : 'header-default'}}" *ngIf="sharedModel?.headerType == 'header-secondary'">
	<div class="header-image" *ngIf="sharedModel?.currentRoute == 'country' && sharedModel?.country?.hasTemplate && sharedModel?.country?.image">
		<img src="{{RESIZED_CONTENT_PATH}}10000x225xi/{{sharedModel?.country?.image}}" alt="" class="fullsize-bg">
	</div><!-- /.header-image -->
	<div class="header-inner {{sharedModel?.country && !sharedModel?.country?.hasTemplate ? '' : 'hidden-xs'}}" *ngIf="sharedModel?.categoryId != ARABIC_SECTION_ID">
		<div class="shell">
			<a routerLink="/" class="logo-small">Jadaliyya</a>
			<span class="psy-subpage-beta">BETA</span>
			
			<nav class="nav" *ngIf="globalModel?.headerCategories != undefined && globalModel?.headerCategories.length">
				<ul>
			
					<li class="has-dropdown {{sharedModel?.categoryId == cat?.id ? 'current' : ''}}" *ngFor="let cat of globalModel?.headerCategories; let catIndex = index" (mouseover)='load_cat_articles(cat.id, catIndex)'>
						<a title="{{cat.title}}" routerLink="/Category/{{cat.id + (cat.id == ROUNDUPS_CATEGORY_ID ? '/' + ROUNDUPS_MEDIA_URL_TITLE : '')}}">{{cat.title}}</a>
			
						<div class="dropdown">
								<div class="sk-fading-circle" *ngIf="!(headerCategoryArticles != undefined && headerCategoryArticles[catIndex]?.length > 0)">
									<div class="sk-circle1 sk-circle"></div>
									<div class="sk-circle2 sk-circle"></div>
									<div class="sk-circle3 sk-circle"></div>
									<div class="sk-circle4 sk-circle"></div>
									<div class="sk-circle5 sk-circle"></div>
									<div class="sk-circle6 sk-circle"></div>
									<div class="sk-circle7 sk-circle"></div>
									<div class="sk-circle8 sk-circle"></div>
									<div class="sk-circle9 sk-circle"></div>
									<div class="sk-circle10 sk-circle"></div>
									<div class="sk-circle11 sk-circle"></div>
									<div class="sk-circle12 sk-circle"></div>
								</div>
							<div class="shell" *ngIf="headerCategoryArticles != undefined && headerCategoryArticles[catIndex]?.length > 0">
								
								<ul class="widgets">
									<li class="widget-dropdown" *ngFor="let item of headerCategoryArticles[catIndex]">
										<div class="widget-image">
											<a title="{{item.title}}" routerLink="/Details/{{item.id}}">
												<img src="{{RESIZED_CONTENT_PATH}}322x209xi/{{item.image}}" alt="{{item.title}}">
											</a>
										</div><!-- /.widget-image -->
			
										<div class="widget-head">
											<h3 class="widget-title">
												<a title="{{item.title}}" routerLink="/Details/{{item.id}}">{{item.title}}</a>
											</h3><!-- /.widget-title -->
										</div><!-- /.widget-head -->
			
										<div class="widget-body" >
											<ul class="list-meta">
												<li *ngIf="item?.writer">
													<a title="{{item?.writer?.name}}" routerLink="/Contributor/{{item?.writer?.id}}">
														<i class="ico-logo"></i>
			
														By {{item?.writer?.name}}
													</a>
												</li>
			
												<li>
													<a title="{{item.title}}" routerLink="/Details/{{item.id}}">{{item.date | date:'MMM d'}}</a>
												</li>
											</ul><!-- /.list-meta -->
										</div><!-- /.widget-body -->
									</li><!-- /.widget -->
								</ul><!-- /.widgets -->
			
								<a title="{{cat.title}}" routerLink="/Category/{{cat.id + (cat.id == ROUNDUPS_CATEGORY_ID ? '/' + ROUNDUPS_MEDIA_URL_TITLE : '')}}" class="link-more-pages">View More from {{cat.title}} Page</a>
							</div><!-- /.shell -->
						</div><!-- /.dropdown -->
					</li>
			
				
					<!--<li>
						<a href="Arab-sections.html" class="rtl">القسم العربي</a>
					</li>-->
			
					<li>
						<a class="link-search" (click)="open_search()">
							<i class="fa fa-search" aria-hidden="true"></i>
						</a>
					</li>
				</ul>
			</nav><!-- /.nav -->
			
		</div><!-- /.shell -->
	</div><!-- /.header-inner -->
	<div class="header-inner" *ngIf="sharedModel?.categoryId == ARABIC_SECTION_ID"> 
			<div class="shell">
				<a title="Jadaliyya" routerLink="/" class="logo">Jadaliyya</a>
			</div><!-- /.shell -->
		</div><!-- /.header-inner -->
	
	<div class="header-outer {{sharedModel?.country?.hasTemplate ? 'header-outer-alt' : ''}} {{sharedModel?.isArabicSection? 'rtl' : ''}}" *ngIf="(sharedModel?.categoryTitle && sharedModel?.categoryTitle != '') || sharedModel?.country">
		<div class="shell">
			
				<a class="link-search link-search-secondary" *ngIf="sharedModel?.categoryId == ARABIC_SECTION_ID" (click)="open_search()">
					<i class="fa fa-search" aria-hidden="true"></i>
				</a>
			<h1>
				<a routerLink="/Contributors" *ngIf="sharedModel?.currentRoute == 'contributor-details'">
					<i class="fa fa-arrow-left" aria-hidden="true"></i>
				</a>
				{{sharedModel?.country ? sharedModel?.country?.title : sharedModel?.categoryTitle}}
				<strong *ngIf="sharedModel?.searchCount && sharedModel?.currentRoute == 'search'">{{sharedModel?.searchCount}} articles</strong>
				<span class="rtl" *ngIf="sharedModel?.country?.arTitle">{{sharedModel?.country?.arTitle}}</span></h1>
				
				<ul class="list-navs list-navs-secondary" *ngIf="sharedModel?.currentRoute == 'favorites' || sharedModel?.currentRoute == 'shared-with-me'">
					<li class="{{sharedModel?.currentRoute == 'favorites' ? 'current' : ''}}">
						<a title="Favorites" routerLink="/Account/Favorites">FAVORITES</a>
					</li>
					
					<li class="{{sharedModel?.currentRoute == 'shared-with-me' ? 'current' : ''}}">
						<a title="Shared with me" routerLink="/Account/Shared">SHARED WITH ME</a>
					</li>
				</ul><!-- /.list-navs -->
				<ul class="list-actions-secondary" *ngIf="(sharedModel?.currentRoute == 'favorites' || sharedModel?.currentRoute == 'shared-with-me') && sharedModel?.displayActions" app-favorites-actions [route]="sharedModel?.currentRoute">
				
				</ul><!-- /.list-actions-secondary -->
			<ul class="list-navs rtl" *ngIf="sharedModel?.isArabicSection && globalModel?.arabicSubCategories?.length">
				<li class="{{sharedModel?.categoryId == item.id ? 'current' : ''}}" *ngFor="let item of globalModel?.arabicSubCategories">
					<a title="{{item.title}}" routerLink="/Category/{{ARABIC_SECTION_ID}}/{{item.id + (item.customUrlTitle ? '/' + item.customUrlTitle : '')}}">{{item.title}}</a>
				</li>			
			</ul>
			<ul class="list-navs list-navs-secondary" *ngIf="sharedModel.currentRoute == 'category' && sharedModel.categoryId == ROUNDUPS_CATEGORY_ID">
					<li class="{{sharedModel?.customUrlTitle == ROUNDUPS_MEDIA_URL_TITLE ? 'current' : ''}}">
						<a title="Media Roundups" routerLink="/Category/{{ROUNDUPS_CATEGORY_ID}}/{{ROUNDUPS_MEDIA_URL_TITLE}}">MEDIA ROUNDUPS</a>
					</li>
					
					<li class="{{sharedModel?.customUrlTitle == ROUNDUPS_MONTHLY_URL_TITLE ? 'current' : ''}}">
						<a title="Media Roundups" routerLink="/Category/{{ROUNDUPS_CATEGORY_ID}}/{{ROUNDUPS_MONTHLY_URL_TITLE}}">MONTHLY EDITIONS</a>
					</li>
				</ul><!-- /.list-navs -->
				<ul class="list-navs list-navs-secondary" *ngIf="sharedModel?.currentRoute == 'published-articles' || sharedModel?.currentRoute == 'unpublished-articles'">
					<li class="{{sharedModel?.currentRoute == 'published-articles' ? 'current' : ''}}">
						<a title="Writer Articles" routerLink="/Account/Articles/Published">PUBLISHED</a>
					</li>
					
					<li class="{{sharedModel?.currentRoute == 'unpublished-articles' ? 'current' : ''}}">
						<a title="Writer Articles" routerLink="/Account/Articles/UnPublished">UNPUBLISHED</a>
					</li>
				</ul>
				<a class="btn btn-tertiary btn-blue link-new-article" *ngIf="sharedModel?.currentRoute == 'published-articles' || sharedModel?.currentRoute == 'unpublished-articles'" data-psy-pop="submit-article">New Article</a>
			<a href="#" class="link-filter" *ngIf="false && (sharedModel.currentRoute == 'category' || sharedModel?.currentRoute == 'search')">
				Filter By

				

				<i class="fa fa-sort-desc" aria-hidden="true"></i>
			</a>
		</div><!-- /.shell -->

		<div class="filter">
			<div class="shell">
				<div class="form-filter">
					<form action="?" method="post">
						<div class="form-body">
							<div class="cols">
								<div class="col col-size1">
									<div class="form-row">
										<div class="form-controls form-controls-select">
											<select name="field-country" id="field-country" class="select-native">
												<option value="">Country</option>
												<option value="">Country1</option>
												<option value="">Country2</option>
											</select>
										</div><!-- /.form-controls -->
									</div><!-- /.form-row -->
								</div><!-- /.col col-size1 -->
								
								<div class="col col-size1">
									<div class="form-row">
										<div class="form-controls form-controls-select">
											<select name="field-category" id="field-category" class="select-native">
												<option value="">Category</option>
												<option value="">Category1</option>
												<option value="">Category2</option>
											</select>
										</div><!-- /.form-controls -->
									</div><!-- /.form-row -->
								</div><!-- /.col col-size1 -->
							
								<div class="col col-size1">
									<div class="form-row">
										<div class="form-controls">
											<input type="text" class="field" name="field-writer" id="field-writer" value="" placeholder="Writer">
										</div><!-- /.form-controls -->
									</div><!-- /.form-row -->
								</div><!-- /.col col-size1 -->
							
								<div class="col col-size1">
									<div class="form-row">
										<div class="form-controls">
											<input type="text" class="field field-date" name="field-date" id="field-date" value="" placeholder="Date">
		
											<i class="fa fa-calendar-o" aria-hidden="true"></i>
										</div><!-- /.form-controls -->
									</div><!-- /.form-row -->
								</div><!-- /.col col-size1 -->
								
								<div class="col col-size2">
									<div class="form-row">
										<div class="form-controls">
											<input type="text" class="field" name="field-keyword" id="field-keyword" value="" placeholder="Keyword">
		
											<i class="fa fa-search" aria-hidden="true"></i>
		
											<a href="#">
												<img src="../assets/images/temp/filter-link.jpg" alt="">
											</a>
										</div><!-- /.form-controls -->
									</div><!-- /.form-row -->
								</div><!-- /.col col-size2 -->
		
								<div class="col col-size1">
									<div class="form-actions">
										<input type="submit" value="Filter" class="form-btn btn btn-primary btn-blue">
									</div><!-- /.form-actions -->
								</div><!-- /.col col-size1 -->
							</div><!-- /.cols -->
						</div><!-- /.form-body -->
					</form>
				</div><!-- /.form-filter -->
			</div><!-- /.shell -->
		</div><!-- /.filter -->
	</div><!-- /.header-outer -->
</header><!-- /.header -->