<div class="container">
		<div class="main">
			<div class="shell">
				<div class="content">
					<div class="content-inner">
							<div class="content-inner-flex">
									<div class="slider slider-primary" slideshow [model]="countryModel?.slideshow" *ngIf="countryModel?.slideshow?.length">
											
									</div><!-- /.slider -->
									<div class="content-aside" *ngIf="countryModel?.mostRecent?.length > 0">
										<h3 class="content-title">
											<i class="ico-title"></i>
											{{isArabicSection ? 'الأحدث' : 'Most Recent'}}
											
										</h3><!-- /.content-title -->
								
										<ul class="posts">
											<li class="post {{item.isArabic? 'rtl' : ''}}" *ngFor="let item of countryModel?.mostRecent">
												<div class="post-inner">
													<header class="post-head">
														<h2 class="post-title">
															<a routerLink="/Details/{{item.id}}/{{item.customUrlTitle ? '/' + item.customUrlTitle : ''}}">{{item.title}}</a>
														</h2><!-- /.post-title -->
													</header><!-- /.post-head -->
												
													<div class="post-body" *ngIf="item.smallDescription">
														<p [innerHTML]="item.smallDescription | truncate:200"></p>
													</div><!-- /.post-body -->
												
													<footer class="post-foot">
														<ul class="list-meta">
															<li *ngIf="item.writer">
																<a routerLink="/Contributor/{{item.writer?.id}}">
																	<i class="ico-logo"></i>
												
																	By {{item.writer?.name}}
																</a>
															</li>
															
															<li>
																<a>{{item.date | date:'MMM d'}}</a>
															</li>
														</ul><!-- /.list-meta -->
													</footer><!-- /.post-foot -->
												</div><!-- /.post-inner -->
											</li><!-- /.post -->
								
										
										</ul><!-- /.posts -->
									</div><!-- /.content-aside -->
								</div><!-- /.content-inner-flex -->
								
						<div class="tabs tabs-secondary">
							<div class="tabs-head">
								<nav class="tabs-nav">
									<ul>
										<li class="current" (click)="fetch_new_listing(false)">
											<a href="#tab1">RECENT STORIES</a>
										</li>
										
										<li (click)="fetch_new_listing(true)">
											<a href="#tab2">EDITOR’S PICKS</a>
										</li>
									</ul>
								</nav><!-- /.tabs-nav -->
							</div><!-- /.tabs-head -->
							
							<div class="tabs-body">
								<div class="tab current" id="tab1">
									<section class="section section-articles section-articles-primary">
										<div class="section-content">
											<ul class="posts">
                        <li class="post post-large {{item.isArabic ? 'rtl' : ''}}" *ngFor="let item of countryModel?.listing?.slice(0,1)">
                          
                          <div class="post-inner">
                            <div class="post-image" *ngIf="item?.image">
                              <a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle ? '/' + item.customUrlTitle : ''}}">
                                <img src="{{RESIZED_CONTENT_PATH}}348x301xi/{{item?.image}}" alt="">
                              </a>
                            </div><!-- /.post-image -->
                          
                            <div class="post-content">
                              <header class="post-head">
                                <h2 class="post-title">
                                  <a routerLink="/Details/{{item?.id}}/{{item?.customUrlTitle ? '/' + item.customUrlTitle : ''}}">{{item?.title | truncate: 52}}</a>
                                </h2><!-- /.post-title -->
                              </header><!-- /.post-head -->
                              
                              <div class="post-body">
                                <p [innerHTML]="item?.smallDescription | truncate: 315"></p>
                              </div><!-- /.post-body -->
                              
                              <footer class="post-foot">
                                <ul class="list-meta">
                                  <li *ngIf="item?.writer">
                                    <a routerLink="/Contributor/{{item?.writer?.id}}">
                                      <i class="ico-logo"></i>
                              
                                      By {{item?.writer?.name}}
                                    </a>
                                  </li>
                                  
                                  <li>
                                    <a >{{item.date | date:'MMM d'}}</a>
                                  </li>
                                </ul><!-- /.list-meta -->
                              </footer><!-- /.post-foot -->
                            </div><!-- /.post-content -->
                          </div><!-- /.post-inner -->
                        </li><!-- /.post -->
						
												<li class="post {{post.isArabic? 'rtl' : ''}}" *ngFor="let post of countryModel?.listing?.slice(1, 14)">
														<post [post]="post"></post>
												</li><!-- /.post -->
											</ul><!-- /.posts -->
										</div><!-- /.section-content -->
									</section><!-- /.section section-articles -->
								</div><!-- /.tab -->
							</div><!-- /.tabs-body -->
						</div><!-- /.tabs -->
            <!-- <div id="hot-most-read" hot-on-facebook [model]="countryModel"> 
                
              </div> -->
					
						<section class="section section-articles" *ngIf="countryModel?.listing?.length > 14">
							<div class="section-content">
								<ul class="posts">
                  <li class="post {{post.isArabic? 'rtl' : ''}}" *ngFor="let post of countryModel?.listing?.slice(14, 18)">
                      <post [post]="post"></post>
                  </li><!-- /.post -->
                  
									<li class="post post-report">
										<div class="post-inner">
											<div class="quote">
												<div class="quote-inner">
													<h5>
														<a routerLink="/Category/133/Reports">
															Check out our  <strong>REPORTS PAGE</strong> and catch up on news &amp; events
																												
															<i class="ico-link"></i>
														</a>
													</h5>
												</div><!-- /.quote-inner -->
											</div><!-- /.quote -->
										</div><!-- /.post-inner -->
                  </li><!-- /.post -->
                  
                  <li class="post {{isArabicSection || post.isArabic? 'rtl' : ''}}" *ngFor="let post of countryModel?.listing?.slice(18, 22)">
                      <post [post]="post"></post>
                  </li><!-- /.post -->
									
									<li class="post post-media" *ngIf="countryModel?.photography">
										<div class="post-inner">
											<div class="post-content">
												<span class="post-subtitle">
													<i class="ico-logo-large"></i>
										
													PHOTOGRAPHY
												</span>
										
												<div class="post-content-inner">
													<h2 class="post-title">
														<a routerLink="/Details/{{countryModel?.photography?.id + (countryModel?.photography?.customUrlTitle ? '/' + countryModel?.photography?.customUrlTitle : '')}}">{{countryModel?.photography?.title}}</a>
													</h2><!-- /.post-title -->
																						
													<ul class="list-meta">
														<li *ngIf="countryModel?.photography?.writer">
															<a routerLink="/Contributor/{{countryModel?.photography?.writer?.id}}">By {{countryModel?.photography?.writer?.name}}</a>
														</li>
														
														<li>
															<a >{{countryModel?.photography?.date | date:'MMM d'}}</a>
														</li>
													</ul><!-- /.list-meta -->
												</div><!-- /.post-content-inner -->
											</div><!-- /.post-content -->
										
											<div class="post-image">
												<img src="../../assets/images/temp/article-photography.jpg" alt="" class="fullsize-bg">
										
												<a href="#" class="link-gallery">
													<i class="fa fa-camera" aria-hidden="true"></i>
										
													+15
												</a>
											</div><!-- /.post-image -->
										</div><!-- /.post-inner -->
									</li><!-- /.post post-media -->

                  <li class="post {{isArabicSection || post.isArabic? 'rtl' : ''}}" *ngFor="let post of countryModel?.listing?.slice(22, 26)">
                      <post [post]="post"></post>
                  </li><!-- /.post -->

								</ul><!-- /.posts -->
							</div><!-- /.section-content -->
						</section><!-- /.section section-articles -->

						<div id="latest-announcements-container">
							
						<div class="section section-announcements ltr" *ngIf="countryModel?.latestAnnouncements2?.length">
							<a href="#" class="link-scroll-next">
								<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
							</a>
							
							<aside class="section-aside">
								<h2 class="section-title">
									<small>
										Latest
						
										<i class="ico-announcement-large"></i>
									</small>
						
									ANNOUN-<br />
									CEMENTS
								</h2><!-- /.section-title -->
						
								<a href="ajax/popup-announcement.html" class="btn btn-primary btn-transparent link-popup">
									SUBMIT AN ANNOUCEMENT
								</a>
							</aside><!-- /.section-aside -->
						
							<div class="section-content scrollable-horizontal">
								<div class="slider slider-roundups-secondary">
									<div class="slides">
										<div class="slide"  *ngFor="let parentItem of countryModel?.latestAnnouncements2; let i = index">
											<ul class="list-news list-news-secondary" *ngIf="i % 2 == 0">
												<li *ngFor="let item of countryModel?.latestAnnouncements2.slice(i, i + 2)">
													<span *ngIf="item.image">
														<a title="{{item.title}}" routerLink="/Details/{{item.id + (item.customUrlTitle ? '/' + item.customUrlTitle : '')}}">
															<img src="{{RESIZED_CONTENT_PATH}}60x58xo/{{item.image}}" alt="">
														</a>
													</span>
													
													<h4>
														<a title="{{item.title}}" routerLink="/Details/{{item.id + (item.customUrlTitle ? '/' + item.customUrlTitle : '')}}">{{item.title}}</a>
													</h4>
												</li>
											</ul><!-- /.list-news list-news-secondary -->
										</div><!-- /.slide -->
									</div><!-- /.slides -->
								</div><!-- /.slider -->
							</div><!-- /.section-content -->
						</div><!-- /.section section-announcements -->

					</div>

						<section class="section section-articles" *ngIf="countryModel?.listing?.length > 26">
							<div class="section-content">
								<ul class="posts">
                  <li class="post post-bd-top {{isArabicSection || post.isArabic? 'rtl' : ''}}" *ngFor="let post of countryModel?.listing?.slice(26, 27)">
                      <post [post]="post"></post>
                  </li><!-- /.post -->
				  <li class="post post-media post-media-top" *ngIf="countryModel?.video">
						<div class="post-inner">
						<div class="post-content">
							<span class="post-subtitle">
							<i class="ico-logo-large"></i>
	
							Videos
							</span>
	
							<div class="post-content-inner">
							<h2 class="post-title">
								<a title="{{countryModel?.video?.title}}" routerLink="/Details/{{countryModel?.video?.id + (countryModel?.video?.customUrlTitle ? '/' + countryModel?.video?.customUrlTitle : '')}}"></a>
							</h2><!-- /.post-title -->
	
							<ul class="list-meta">
								<li *ngIf="countryModel?.video?.writer">
								<a title="{{countryModel?.video?.writer?.name}}" routerLink="/Contributor/{{countryModel?.video?.writer?.id}}">By {{countryModel?.video?.writer?.name}}</a>
								</li>
	
								<li>
								{{countryModel?.video?.date | date:'MMM d'}}
								</li>
							</ul><!-- /.list-meta -->
							</div><!-- /.post-content-inner -->
						</div><!-- /.post-content -->
	
						<div class="post-image post-video" *ngIf="countryModel?.video?.image">
							<a title="{{countryModel?.video?.title}}" routerLink="/Details/{{countryModel?.video?.id + (countryModel?.video?.customUrlTitle ? '/' + countryModel?.video?.customUrlTitle : '')}}">
							<img src="{{RESIZED_CONTENT_PATH}}500x358xo/{{countryModel?.video?.image}}" alt="{{countryModel?.video?.title}}" class="fullsize-bg">
							</a>
						</div><!-- /.post-image -->
						</div><!-- /.post-inner -->
					</li><!-- /.post post-media -->					
									
								
                  <li class="post {{isArabicSection || post.isArabic? 'rtl' : ''}}" *ngFor="let post of countryModel?.listing?.slice(27, 30)">
                      <post [post]="post"></post>
                  </li><!-- /.post -->

									<li class="post post-jadalicous" *ngIf="countryModel?.jadalicious?.length">
										<div class="post-inner">
											<ul class="widgets">
												<li class="widget-jadalicous">
													<div class="widget-head">
														<h3 class="widget-title">
															JAD<strong>ALICOUS</strong>

															<i class="ico-leaf"></i>
														</h3><!-- /.widget-title -->
													</div><!-- /.widget-head -->

													<div class="widget-image">
														<img src="{{RESIZED_CONTENT_PATH}}344x239xo/{{countryModel?.jadalicious[0]?.image}}" alt="{{countryModel?.jadalicious[0]?.title}}" class="fullsize-bg">

														<span class="widget-caption">{{countryModel?.jadalicious[0]?.title | truncate:100}}</span>

														<a title="countryModel?.jadalicious[0]?.title" routerLink="/Details/{{countryModel?.jadalicious[0]?.id + (countryModel?.jadalicious[0]?.customUrlTitle ? '/' + countryModel?.jadalicious[0]?.customUrlTitle : '')}}"></a>
													</div><!-- /.widget-image -->

													<div class="widget-body">
														<ul class="list-news list-news-round">
															<li *ngFor="let item of countryModel?.jadalicious?.slice(1)">
																<span *ngIf="item.iamge">
																	<a title="{{item.title}}" routerLink="/Details/{{item.id + (item.customUrlTitle ? '/' + item.customUrlTitle : '')}}">
																		<img src="{{RESIZED_CONTENT_PATH}}57x56xo/{{item.image}}" alt="">
																	</a>
																</span>

																<h4>
																	<a title="{{item.title}}" routerLink="/Details/{{item.id + (item.customUrlTitle ? '/' + item.customUrlTitle : '')}}">{{item.title | truncate:40}}</a>
																</h4>
															</li>
														</ul><!-- /.list-news -->
													</div><!-- /.widget-body -->
												</li><!-- /.widget -->
											</ul><!-- /.widgets -->
										</div><!-- /.post-inner -->
									</li><!-- /.post -->
					
                  <li class="post {{isArabicSection || post.isArabic? 'rtl' : ''}}" *ngFor="let post of countryModel?.listing?.slice(30)">
                      <post [post]="post"></post>
                  </li><!-- /.post -->

								</ul><!-- /.posts -->
							</div><!-- /.section-content -->
						</section><!-- /.section section-articles -->
					</div><!-- /.content-inner -->
					
					<div class="content-actions" id="load-more-container" *ngIf="hasMoreToLoad" (click)="get_articles(false)">
              <a class="link-load">
					<span  *ngIf="!isLoadingMore && startScrollLoading">Load More</span>
					  <ul class="load-more-loader" *ngIf="isLoadingMore || !startScrollLoading">
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
              </a>
            </div><!-- /.content-actions -->
				</div><!-- /.content -->
					
				<div class="sidebar {{!(countryModel?.hasTemplate)}}">
					<ul class="widgets">
						<li class="widget-about" *ngIf="countryModel?.hasTemplate && countryModel?.about">
								<header class="widget-head">
									<div class="icon">
										<span>
											<i class="fa fa-pencil" aria-hidden="true"></i>
										</span>
									</div>
	
									<h3 class="widget-title">ABOUT THIS PAGE</h3><!-- /.widget-title -->
								</header><!-- /.widget-head -->
	
								<div class="widget-body">
									<p [innerHTML]="countryModel?.about"></p>
								</div><!-- /.widget-body -->
							</li><!-- /.widget-about -->
							<li class="widget-about" *ngIf="countryModel?.hasTemplate && (countryModel?.regression?.populationMillion || countryModel?.regression?.populationTitle || countryModel?.regression?.populationNb)">
								<header class="widget-head">
									<div class="icon">
										<span>
											<i class="fa fa-pie-chart" aria-hidden="true"></i>
										</span>
									</div>
	
									<h3 class="widget-title">{{countryModel?.title}} POPULATION REGRESSION</h3><!-- /.widget-title -->
								</header><!-- /.widget-head -->
	
								<div class="widget-body">
									<div class="slider slider-population">
										<div class="slides owl-carousel">
											<div class="slide">
												<div class="slide-inner">
													<svg width="259px" height="259px" viewBox="0 0 259 259">
														<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
															<path d="M0,129.5 C0,57.9781 57.9783,0 129.5,0 C201.0217,0 259,57.9781 259,129.5 C259,201.0219 201.0217,259 129.5,259 C57.9783,259 0,201.0219 0,129.5 Z" fill="#D9D900"></path>
															<path class="progress-circle" d="M14,130 C14,65.934051 65.9342301,14 130,14 C194.06577,14 246,65.934051 246,130 C246,194.065949 194.06577,246 130,246 C65.9342301,246 14,194.065949 14,130 Z" id="line" stroke="#F8F8F8" stroke-width="8" stroke-dasharray="0 729" data-to="365"></path>
														</g>
													</svg>
	
													<small>POPULATION</small>
												
													<h4>
															<strong>~ {{countryModel?.regression?.populationMillion}}</strong> Million
													</h4>
												</div><!-- /.slide-inner -->
											</div><!-- /.slide -->
	
											<div class="slide">
												<div class="slide-inner">
													<svg width="259px" height="259px" viewBox="0 0 259 259">
														<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
															<path d="M0,129.5 C0,57.9781 57.9783,0 129.5,0 C201.0217,0 259,57.9781 259,129.5 C259,201.0219 201.0217,259 129.5,259 C57.9783,259 0,201.0219 0,129.5 Z" fill="#D9D900"></path>
															<path class="progress-circle" d="M14,130 C14,65.934051 65.9342301,14 130,14 C194.06577,14 246,65.934051 246,130 C246,194.065949 194.06577,246 130,246 C65.9342301,246 14,194.065949 14,130 Z" stroke="#F8F8F8" stroke-width="8" stroke-dasharray="0 729" data-to="600"></path>
														</g>
													</svg>
	
													<small>TITLE</small>
												
													<h4>
															<strong>~ {{countryModel?.regression?.populationTitle}}</strong> Million
													</h4>
												</div><!-- /.slide-inner -->
											</div><!-- /.slide -->
	
											<div class="slide">
												<div class="slide-inner">
													<svg width="259px" height="259px" viewBox="0 0 259 259">
														<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
															<path d="M0,129.5 C0,57.9781 57.9783,0 129.5,0 C201.0217,0 259,57.9781 259,129.5 C259,201.0219 201.0217,259 129.5,259 C57.9783,259 0,201.0219 0,129.5 Z" fill="#D9D900"></path>
															<path class="progress-circle" d="M14,130 C14,65.934051 65.9342301,14 130,14 C194.06577,14 246,65.934051 246,130 C246,194.065949 194.06577,246 130,246 C65.9342301,246 14,194.065949 14,130 Z" stroke="#F8F8F8" stroke-width="8" stroke-dasharray="0 729" data-to="200"></path>
														</g>
													</svg>
	
													<small>NUMBER</small>
												
													<h4>
															<strong>~ {{countryModel?.regression?.populationNb}}</strong> Million
													</h4>
												</div><!-- /.slide-inner -->
											</div><!-- /.slide -->
										</div><!-- /.slides -->
									</div><!-- /.slider -->
								</div><!-- /.widget-body -->
							</li><!-- /.widget-about -->

							<!-- <li class="widget-primary" *ngIf="countryModel?.hasTemplate && countryModel?.marker">
									<header class="widget-head">
										<h3 class="widget-title">
											<span>SYRIA MAP &amp; STATS</span>
										</h3>
									</header>
								
									<div class="widget-body">
										<div class="gmap3" id="map" style="height: 354px"></div>
		
										<ul class="list-locations">
											<li attr.data-lat="{{countryModel?.marker?.latitude}}" attr.data-lng="{{countryModel?.marker?.longitude}}"></li>
										</ul>
		
										<ul class="list-population" *ngIf="countryModel?.info?.length">
											<li class="{{i % 2 == 0 && i > 0 ? 'left' : ''}}" *ngFor="let item of countryModel?.info; let i = index">
												<span>
													<strong>{{item.label}}:</strong> {{item.value}}
												</span>
											</li>
											
										
										</ul>
									</div>
								</li> -->
		
						<li class="widget-subscribe widget-subscribe-smaller">
							<div class="widget-content">
                  <app-join-newsletter></app-join-newsletter><!-- /.subscribe -->
					
                  
								    <div class="socials" social-block [model]="sharedModel?.socialMedia" *ngIf="sharedModel?.socialMedia?.length > 0">
                      </div><!-- /.socials -->
							</div><!-- /.widget-content -->
						</li><!-- /.widget -->
					
						<li class="widget-jad">
								<div class="widget-image">
									<a title="{{countryModel?.banner?.title}}" href="{{countryModel?.banner?.link}}">
										<img src="{{RESIZED_CONTENT_PATH}}330x279xo/{{countryModel?.banner?.image}}" alt="">
									</a>
								</div><!-- /.widget-image -->
							</li><!-- /.widget -->
					
						<li class="widget-primary " more-stories-widget [featured]="countryModel?.moreFeatured" [recent]="countryModel?.moreRecent" *ngIf="countryModel?.moreFeatured || countryModel?.moreRecent">
                
            			</li><!-- /.widget-primary -->

						<li class="widget-primary widget-jad-nav hidden-sm hidden-xs hidden-md" jad-nav-widget [countries]="countryModel?.jadNavigation" *ngIf="countryModel?.jadNavigation?.length">
                
               </li><!-- /.widget-primary -->
					
						<li class="widget-primary" *ngIf="countryModel?.page?.smallDescription">
							<div class="quote">
								<div class="quote-inner">
									<blockquote [innerHTML]="countryModel?.page?.smallDescription | truncate : 205"></blockquote>
													
									<ul class="list-inline">
										<li *ngIf="countryModel?.page?.email">
											<a title="mail" href="mailTo:countryModel?.page?.email">
												<i class="fa fa-envelope" aria-hidden="true"></i>
											</a>
										</li>
										
										<li *ngIf="countryModel?.page?.twitter">
											<a title="twitter" href="{{countryModel?.page?.twitter}}">
												<i class="fa fa-twitter" aria-hidden="true"></i>
											</a>
										</li>
									</ul><!-- /.list-inline -->
								</div><!-- /.quote-inner -->
							</div><!-- /.quote -->
						</li><!-- /.widget-primary -->
					</ul><!-- /.widgets -->
				</div><!-- /.sidebar -->
			</div><!-- /.shell -->
		</div><!-- /.main -->
	</div><!-- /.container -->