<div class="container">
		<div class="main">
			<div class="shell ">
				<div class="content">
					<div class="content-inner">
						<section class="section section-jad ">
							<div class="section-map" *ngIf="jadModel?.markers?.length">
								<div id="map" class="gmap2" attr.data-lat="{{jadModel?.markers[0].latitude}}" 
								attr.data-lng="{{jadModel?.markers[0].longitude}}"></div><!-- /.map -->
								<div class="map-markers">
<div class="map-marker" attr.data-lng="{{marker.longitude}}" 
attr.data-lat="{{marker.latitude}}" *ngFor="let marker of jadModel?.markers"></div>
</div>
							</div><!-- /.section-map -->
						
							<div class="section-content">
								<div class="tabs tabs-secondary">
									<div class="tabs-head">
										<nav class="tabs-nav">
											<ul>
												<li class="current" (click)="fetch_new_listing(0)">
													<a href="#tab1">RECENT STORIES</a>
												</li>
												
												<li (click)="fetch_new_listing(1)">
													<a href="#tab2">
														JADALIYYA <br />
														RECOMMENDS
													</a>
												</li>
								
												<li (click)="fetch_new_listing(2)">
													<a href="#tab3">
														ARAB UPRISINGS <br />
														SELECTIONS
													</a>
												</li>
											</ul>
										</nav><!-- /.tabs-nav -->
									</div><!-- /.tabs-head -->
									
									<div class="tabs-body">
										<div class="tab current" id="tab1">
											<ul class="widgets" *ngIf="jadModel?.categoryArticles?.length">
												<li class="widget-posts" *ngFor="let item of jadModel?.categoryArticles">
													<div class="widget-inner">
														<div class="widget-head">
															<h3 class="widget-title">
																<span>{{item.title}}</span>
													
																<a title="{{item.title}}" routerLink="/Category/{{item.id + (item.customUrlTitle ? '/' + item.customUrlTitle : '')}}">
																	<i class="fa fa-plus-circle" aria-hidden="true"></i>
																</a>
															</h3><!-- /.widget-title -->
														</div><!-- /.widget-head -->
														
														<div class="widget-body" *ngIf="item?.articles?.length">
															<ul class="list-news list-news-default">
																<li class="{{post.isArabic ? 'rtl' : ''}}" *ngFor="let post of item?.articles">
																	<span *ngIf="post?.image">
																		<a title="{{post.title}}" routerLink="/Details/{{post.id + (post.customUrlTitle ? '/' + post.customUrlTitle : '')}}">
																			<img src="{{RESIZED_CONTENT_PATH}}60x60xo/{{post?.image}}" alt="{{post.titlle}}">
																		</a>
																	</span>
																	
																	<h4>
																		<a title="{{post.title}}" routerLink="/Details/{{post.id + (post.customUrlTitle ? '/' + post.customUrlTitle : '')}}">{{post.title | truncate : 70}}</a>
																	</h4>
																</li>
															</ul>
														</div><!-- /.widget-body -->
													</div><!-- /.widget-inner -->
												</li><!-- /.widget -->
								
                      </ul><!-- /.widgets -->
                      <section class="section section-articles section-articles-primary" *ngIf="jadModel?.articles?.length">
                          <div class="section-content">
                            <ul class="posts">
                              <li class="post {{post.isArabic ? 'rtl' : ''}}" *ngFor="let post of jadModel?.articles?.slice(0, 15)">
                                <post [post]="post"></post>
                              </li><!-- /.post -->
  
                            </ul><!-- /.posts -->
                          </div><!-- /.section-content -->
                        </section><!-- /.section section-articles -->
  
                        
						            <div id="hot-most-read" hot-on-facebook [model]="jadModel" *ngIf="jadModel?.articles?.length">
                
                        </div>
  
                        <section class="section section-articles section-articles-primary rtl" *ngIf="jadModel?.articles?.length > 15">
                          <div class="section-content">
                            <ul class="posts">
                                <li class="post {{item.isArabic ? 'rtl' : ''}}" *ngFor="let post of jadModel?.articles?.slice(15, 19)">
                                  <post [post]="item"></post>
                                </li><!-- /.post -->
                                                      
                              <li class="post post-report">
                                <div class="post-inner">
                                  <div class="quote">
                                    <div class="quote-inner">
                                      <h5>
                                        <a  routerLink="/Category/133/Reports">
                                          Check out our  <strong>REPORTS PAGE</strong> and catch up on news &amp; events
                                                                    
                                          <i class="ico-link"></i>
                                        </a>
                                      </h5>
                                    </div><!-- /.quote-inner -->
                                  </div><!-- /.quote -->
                                </div><!-- /.post-inner -->
                              </li><!-- /.post -->

                              <li class="post {{item.isArabic ? 'rtl' : ''}}" *ngFor="let post of jadModel?.articles?.slice(19)">
                                <post [post]="item"></post>
                              </li><!-- /.post -->

                            </ul><!-- /.posts -->
                          </div><!-- /.section-content -->
                        </section><!-- /.section section-articles -->
										</div><!-- /.tab -->
								
									</div><!-- /.tabs-body -->
								</div><!-- /.tabs -->
							</div><!-- /.section-content -->
						</section><!-- /.section section-jad -->
					</div><!-- /.content-inner -->
					<div class="content-actions" id="load-more-container" *ngIf="hasMoreToLoad">
						<a href="#" class="link-load">
							<ul class="load-more-loader">
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</a>
					</div><!-- /.content-actions -->
        </div><!-- /.content -->
        
				<div class="sidebar">
					<ul class="widgets">
						<li class="widget-subscribe hidden-xs">
							<div class="widget-content">
								<div class="subscribe">
									<i class="ico-newsletter"></i>
					
									<form action="?" method="post">
										<label for="mail">
											<span>
												<i class="fa fa-envelope" aria-hidden="true"></i>
											</span>
					
											<strong>
												JOIN OUR <br />
												
												NEWSLETTER
											</strong>
										</label>
										
										<input type="email" id="mail" name="mail" value="" placeholder="Enter E-mail Address" class="subscribe-field">
										
										<input type="submit" value="Join" class="subscribe-btn btn">
									</form>
								</div><!-- /.subscribe -->
					
						
                <div class="socials" social-block [model]="sharedModel?.socialMedia" *ngIf="sharedModel?.socialMedia?.length > 0">
                </div><!-- /.socials -->
               
							</div><!-- /.widget-content -->
						</li><!-- /.widget -->
					
						<li class="widget-jad">
								<div class="widget-image">
									<a title="{{jadModel?.banner?.title}}" href="{{jadModel?.banner?.link}}">
										<img src="{{RESIZED_CONTENT_PATH}}330x279xo/{{jadModel?.banner?.image}}" alt="">
									</a>
								</div><!-- /.widget-image -->
							</li><!-- /.widget -->

						<li class="widget-about hidden-xs" *ngIf="jadModel?.pages?.length">
							<header class="widget-head">
								<div class="icon">
									<span>
										<i class="ico-logo-white"></i>
									</span>
								</div>

								<h3 class="widget-title">Pages</h3><!-- /.widget-title -->
							</header><!-- /.widget-head -->

							<div class="widget-body">
								<ul class="list-pages" li-link [model]="jadModel?.pages"  [route]="'Category'">
									
								</ul><!-- /.list-pages -->
							</div><!-- /.widget-body -->
            </li><!-- /.widget-about -->
            
            <li id="sidebar-container"></li>
 
						<li class="widget-primary widget-topics" *ngIf="jadModel?.topics?.length && false"> <!-- remove false to show section -->
							<header class="widget-head">
								<h3 class="widget-title">
									<span>Topics</span>
								</h3><!-- /.widget-title -->
							</header><!-- /.widget-head -->

							<div class="widget-body">
								<ul class="list-topics" li-link [model]="jadModel?.topics"  >

								</ul><!-- /.list-topics -->
							</div><!-- /.widget-body -->
						</li><!-- /.widget -->

						<li class="widget-about rtl hidden-xs" *ngIf="jadModel?.arabicPages?.length">
							<header class="widget-head">
								<div class="icon">
									<span>
										<i class="ico-logo-white"></i>
									</span>
								</div>

								<h3 class="widget-title">القسم العربي</h3><!-- /.widget-title -->
							</header><!-- /.widget-head -->

							<div class="widget-body">
								<ul class="list-pages" li-link [model]="jadModel?.arabicPages"  [route]="'Category'" [isArabic]="true">
						
								</ul><!-- /.list-pages -->
							</div><!-- /.widget-body -->
						</li><!-- /.widget-about -->

						<li class="widget-about hidden-xs" *ngIf="jadModel?.countries?.length">
							<header class="widget-head">
								<div class="icon">
									<span>
										<i class="fa fa-map-marker" aria-hidden="true"></i>
									</span>
								</div>

								<h3 class="widget-title">COUNTRIES</h3><!-- /.widget-title -->
							</header><!-- /.widget-head -->

							<div class="widget-body">
								<ul class="list-countries" li-link [model]="jadModel?.countries"  [route]="'Country'">
								
								</ul><!-- /.list-countries -->
							</div><!-- /.widget-body -->
						</li><!-- /.widget-about -->

						<!--#include file="ssi/mobile-widgets.shtml" -->
					</ul><!-- /.widgets -->
				</div><!-- /.sidebar -->
			</div><!-- /.shell -->
		</div><!-- /.main -->
	</div><!-- /.container -->