<div class="popup popup-login mfp-hide" id="popup-forgot-password">
	<header class="popup-head">
		<i class="ico-logo-square"></i>

		<h3 class="popup-title">Forgot Password?</h3><!-- /.popup-title -->

		<a href="#" class="link-close-popup">
			<i class="fa fa-times" aria-hidden="true"></i>
		</a>
	</header><!-- /.popup-head -->

	<div class="popup-body popup-body-alt">
		<div class="form-primary form-login" data-target="#forgot-pass">
			<form action="?" method="post">
				<div class="form-body">
					<div class="form-row">
						<p>
							Please enter your e-mail below.<br />

							You will receive a link to reset your password
						</p>

						<div class="form-controls">
							<input type="email" class="field" name="field-email1" id="field-email1" value="" placeholder="Email Address" required>
		
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</div><!-- /.form-controls -->
					</div><!-- /.form-row -->
				</div><!-- /.form-body -->
				
				<div class="form-actions">
					<input type="submit" value="Submit" class="form-btn btn btn-block btn-primary btn-blue">
				</div><!-- /.form-actions -->
			</form>
		</div><!-- /.form-primary -->
	</div><!-- /.popup-body -->
</div><!-- /.popup popup-login -->