<div class="popup popup-secondary mfp-hide" id="popup-load">
		<header class="popup-head">
			<i class="ico-logo-square-blue"></i>

			<h3 class="popup-title">STAY UPDATED<br class="visible-xs-block"/> WITH OUR LATEST ARTICLES</h3><!-- /.popup-title -->

			<a href="#" class="btn btn-primary btn-blue">
				<i class="fa fa-envelope" aria-hidden="true"></i>

				Join Our Newsletter
			</a>

			<a href="#" class="link-close-popup">
				<i class="fa fa-times" aria-hidden="true"></i>
			</a>
		</header><!-- /.popup-head -->

		<div class="popup-body">
			<ul class="posts">
				<li class="post post-large">
					<div class="post-inner">
						<div class="post-image">
							<a href="Details.html">
								<img src="../../assets/images/temp/article-large.jpg" alt="">
							</a>
						</div><!-- /.post-image -->

						<div class="post-content">
							<header class="post-head">
								<h2 class="post-title">
									<a href="Details.html">Hope without Illusion: Ten Signs of Change in Egypt</a>
								</h2><!-- /.post-title -->
							</header><!-- /.post-head -->

							<div class="post-body">
								<p>Egyptians occupying streets, blocking traffic, and chanting patriotic slogans: Contrary to conventional wisdom, these images became part of Egypt’s contemporary political arena well before the January 2011 Revolution. We saw them on multiple occasions in 2006, 2008, and in 2010, team won the Africa Cup of Nations. </p>

								<a href="#"></a>
							</div><!-- /.post-body -->

							<footer class="post-foot">
								<ul class="list-meta">
									<li>
										<a href="#">
											<i class="ico-logo"></i>

											By Jadaliyya Egypt Editors
										</a>
									</li>

									<li>
										Jan 8
									</li>
								</ul><!-- /.list-meta -->
							</footer><!-- /.post-foot -->
						</div><!-- /.post-content -->
					</div><!-- /.post-inner -->
				</li><!-- /.post -->
			</ul><!-- /.posts -->
		</div><!-- /.popup-body -->
  </div><!-- /.popup popup-secondary -->
  
	<div class="container">
      <div class="section section-primary">
        <div class="shell">
         
          <div class="section-content" > <!-- hide section if slideshow is empty -->
            <div class="slider slider-primary">
              <div class="slider-loader">
                <i class="ico-loader"></i>
              </div><!-- /.slider-loader -->
  
              <div class="slider-outer">
                <span class="slider-meta">
                  <span class="index"></span><small>//</small><br />
  
                  <span class="all"></span>
                </span>
  
                <div class="slides owl-carousel" >
  
                  <div class="slide" *ngFor="let slide of slideshow">
                    <div class="slide-image" > <!-- hide image if field is empty -->
                      <a routerLink="/Details/{{slide.id}}">
                        <img src="{{RESIZED_CONTENT_PATH}}874x456xo/{{slide.mainImage}}" alt="{{slide.title}}" class="fullsize-bg">
                      </a>
                    </div><!-- /.slide-image -->
  
                    <div class="slide-content">
                      <a routerLink="/Details/{{slide.id}}" class="slide-title" [innerHTML]="slide.smallDescription"></a>
                    </div><!-- /.slide-content -->
                  </div><!-- /.slide -->
  
              
                </div><!-- /.slides -->
              </div><!-- /.slider-outer -->
  
              <div class="slider-nav">
                <ul class="owl-carousel">
                  <li *ngFor="let slide of slideshow" class>
                    <a routerLink="/Details/{{slide.id}}" title="{{slide.title}}">
                      {{slide.title}}
                    </a>
                  </li>
                </ul>
              </div><!-- /.slider-nav -->
            </div><!-- /.slider -->
          </div><!-- /.section-content -->
  
          <aside class="section-aside hidden-sm">
            <ul class="widgets">
              <li class="widget-subscribe">
                <div class="widget-image">
                  <img src="../../assets/images/temp/hall.jpg" alt="">
                </div><!-- /.widget-image -->
  
                <div class="widget-content">
                  <div class="subscribe">
                    <i class="ico-newsletter"></i>
  
                    <form action="?" method="post">
                      <label for="mail">
                        <span>
                          <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
  
                        <strong>
                          JOIN OUR <br />
  
                          NEWSLETTER
                        </strong>
                      </label>
  
                      <input type="email" id="mail" name="mail" value="" placeholder="Enter E-mail Address" class="subscribe-field">
  
                      <input type="submit" value="Join" class="subscribe-btn btn">
                    </form>
                  </div><!-- /.subscribe -->
  
                  <div class="socials">
                    <ul>
                      <li>
                        <a href="#" class="link-twitter">
                          <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                      </li>
  
                      <li>
                        <a href="#" class="link-facebook">
                          <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                      </li>
  
                      <li>
                        <a href="#" class="link-youtube">
                          <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        </a>
                      </li>
  
                      <li>
                        <a href="#" class="link-vimeo">
                          <i class="fa fa-vimeo" aria-hidden="true"></i>
                        </a>
                      </li>
  
                      <li>
                        <a href="#" class="link-soundcloud">
                          <i class="fa fa-soundcloud" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div><!-- /.socials -->
                </div><!-- /.widget-content -->
              </li><!-- /.widget -->
  
              <li class="widget-announcements">
                <aside class="widget-aside">
                  <h4>
                    LATEST
  
                    <i class="ico-sound"></i>
                  </h4>
  
                  <h3 class="hidden-xs">
                    ANNOUN-<br />
                    CEMENTS
                  </h3>
  
                  <h3 class="visible-xs-block">
                    ANNOUNCEMENTS
                  </h3>
                </aside><!-- /.widget-aside -->
  
                <div class="widget-content">
                  <div class="slider slider-announcements">
                    <div class="slides owl-carousel">
                      <div class="slide">
                        <div class="slide-image">
                          <a href="#">
                            <img src="../../assets/images/temp/news1.jpg" alt="">
                          </a>
                        </div><!-- /.slide-image -->
  
                        <div class="slide-content">
                          <h3>
                            <a href="#">Why is the GOP front-runner the ‘hope’ of white supremacists?</a>
                          </h3>
                        </div><!-- /.slide-content -->
                      </div><!-- /.slide -->
  
                      <div class="slide">
                        <div class="slide-image">
                          <a href="#">
                            <img src="../../assets/images/temp/news2.png" alt="">
                          </a>
                        </div><!-- /.slide-image -->
  
                        <div class="slide-content">
                          <h3>
                            <a href="#">Why is the GOP front-runner the ‘hope’ of white supremacists?</a>
                          </h3>
                        </div><!-- /.slide-content -->
                      </div><!-- /.slide -->
  
                      <div class="slide">
                        <div class="slide-image">
                          <a href="#">
                            <img src="../../assets/images/temp/news1.jpg" alt="">
                          </a>
                        </div><!-- /.slide-image -->
  
                        <div class="slide-content">
                          <h3>
                            <a href="#">Why is the GOP front-runner the ‘hope’ of white supremacists?</a>
                          </h3>
                        </div><!-- /.slide-content -->
                      </div><!-- /.slide -->
  
                      <div class="slide">
                        <div class="slide-image">
                          <a href="#">
                            <img src="../../assets/images/temp/news2.png" alt="">
                          </a>
                        </div><!-- /.slide-image -->
  
                        <div class="slide-content">
                          <h3>
                            <a href="#">Why is the GOP front-runner the ‘hope’ of white supremacists?</a>
                          </h3>
                        </div><!-- /.slide-content -->
                      </div><!-- /.slide -->
                    </div><!-- /.slides -->
                  </div><!-- /.slider -->
                </div><!-- /.widget-content -->
              </li><!-- /.widget -->
  
              <li class="widget-player">
                <div class="widget-content">
                  <div class="slider slider-player">
                    <div class="slides owl-carousel">
                      <div class="slide">
                        <h3 class="slide-title">Music Production Cycle in Palestine: From Akka to Gaza</h3><!-- /.slide-title -->
  
                        <span>
                          <em>By</em> J. Boutros, S. Wansa
                        </span>
                      </div><!-- /.slide -->
  
                      <div class="slide">
                        <h3 class="slide-title">2Music Production Cycle in Palestine: From Akka to Gaza</h3><!-- /.slide-title -->
  
                        <span>
                          <em>By</em> J. Boutros, S. Wansa
                        </span>
                      </div><!-- /.slide -->
  
                      <div class="slide">
                        <h3 class="slide-title">3Music Production Cycle in Palestine: From Akka to Gaza</h3><!-- /.slide-title -->
  
                        <span>
                          <em>By</em> J. Boutros, S. Wansa
                        </span>
                      </div><!-- /.slide -->
                    </div><!-- /.slides -->
  
                    <div class="slider-nav"></div><!-- /.slider-nav -->
                  </div><!-- /.slider -->
                </div><!-- /.widget-content -->
  
                <div class="widget-image">
                  <img src="../../assets/images/temp/player-image.png" alt="">
                </div><!-- /.widget-image -->
  
                <div class="widget-actions">
                  <a href="#" class="link-play"></a>
                </div><!-- /.widget-actions -->
              </li><!-- /.widget -->
            </ul><!-- /.widgets -->
          </aside><!-- /.section-aside -->
        </div><!-- /.shell -->
      </div><!-- /.section section-primary -->
  
      <section class="section section-interested">
        <a href="#" class="link-collapse hidden">
          <i class="fa fa-times" aria-hidden="true"></i>
        </a>
  
        <div class="shell">
          <header class="section-head">
            <h2 class="section-title">
              I AM INTERESTED IN <br class="visible-xs-block"/>
  
              <a href="#" class="link-interests">All kind of news</a>
            </h2><!-- /.section-title -->
          </header><!-- /.section-head -->
  
          <div class="section-body">
            <div class="list-interests">
              <a href="#">Egypt</a>
  
              <a href="#">Syria</a>
  
              <a href="#">Palestine</a>
  
              <a href="#">Turkey</a>
  
              <a href="#">Arabian Peninsula</a>
  
              <a href="#">Maghreb</a>
  
              <a href="#">Culture</a>
  
              <a href="#">Reports</a>
  
              <a href="#" class="link-more">More</a>
  
              <a href="#" class="more">Video</a>
  
              <a href="#" class="more">CCI</a>
  
              <a href="#" class="more">Roundups</a>
  
              <a href="#" class="more">Politics</a>
  
              <a href="#" class="more">Middle East Population</a>
  
              <a href="#" class="more">Photography</a>
  
              <a href="#" class="more">Reports</a>
  
              <a href="#" class="more">القسم العربي</a>
  
              <a href="#" class="more">Egypt</a>
  
              <a href="#" class="more">Syria</a>
  
              <a href="#" class="more">Palestine</a>
  
              <a href="#" class="more">Turkey</a>
  
              <a href="#" class="more">Arabian Peninsula</a>
  
              <a href="#" class="more">Maghreb</a>
  
              <a href="#" class="more">Culture</a>
  
              <a href="#" class="more">Reports</a>
  
              <a href="#" class="more">Videos</a>
  
              <a href="#" class="more">CCI</a>
  
              <a href="#" class="more">Roundups</a>
  
              <a href="#" class="more">Politics</a>
  
              <a href="#" class="more">Middle East Population</a>
  
              <a href="#" class="more">Photography</a>
  
              <a href="#" class="more">Roundups</a>
  
              <a href="#" class="link-all more">View All</a>
  
              <a href="#" class="even-more">Egypt</a>
  
              <a href="#" class="even-more">Syria</a>
  
              <a href="#" class="even-more">Palestine</a>
  
              <a href="#" class="even-more">Turkey</a>
  
              <a href="#" class="even-more">Arabian Peninsula</a>
  
              <a href="#" class="even-more">Maghreb</a>
  
              <a href="#" class="even-more">Culture</a>
  
              <a href="#" class="even-more">Reports</a>
  
              <a href="#" class="even-more">Video</a>
  
              <a href="#" class="even-more">CCI</a>
  
              <a href="#" class="even-more">Roundups</a>
  
              <a href="#" class="even-more">Politics</a>
  
              <a href="#" class="even-more">Middle East Population</a>
  
              <a href="#" class="even-more">Photography</a>
  
              <a href="#" class="even-more">Reports</a>
  
              <a href="#" class="even-more">القسم العربي</a>
  
              <a href="#" class="even-more">Egypt</a>
  
              <a href="#" class="even-more">Syria</a>
  
              <a href="#" class="even-more">Palestine</a>
  
              <a href="#" class="even-more">Turkey</a>
  
              <a href="#" class="even-more">Arabian Peninsula</a>
  
              <a href="#" class="even-more">Maghreb</a>
  
              <a href="#" class="even-more">Culture</a>
  
              <a href="#" class="even-more">Reports</a>
  
              <a href="#" class="even-more">Videos</a>
  
              <a href="#" class="even-more">CCI</a>
  
              <a href="#" class="even-more">Roundups</a>
  
              <a href="#" class="even-more">Politics</a>
  
              <a href="#" class="even-more">Middle East Population</a>
  
              <a href="#" class="even-more">Photography</a>
  
              <a href="#" class="even-more">Roundups</a>
            </div><!-- /.list-interests -->
  
            <div class="section-actions">
              <a href="#" class="btn btn-primary btn-blue">SUBMIT MY INTEREST</a>
            </div><!-- /.section-actions -->
          </div><!-- /.section-body -->
        </div><!-- /.shell -->
      </section><!-- /.section section-interested -->
  
      <div class="main">
      </div><!-- /.main -->
    </div><!-- /.container -->
