<li>
    <a href="#" data-tooltip="Tooltip title" data-tooltip-hide-on-hover>
      <i class="fa fa-user-plus" aria-hidden="true"></i>
    </a>
  </li>
  
  <li>
    <a data-tooltip="delete folder" data-tooltip-hide-on-hover (click)="delete($event)">
      <i class="fa fa-trash" aria-hidden="true"></i>
    </a>
  </li>
  
  <li>
    <a data-tooltip="create folder" data-tooltip-hide-on-hover data-psy-pop="create-folder">
      <i class="fa fa-folder" aria-hidden="true"></i>
    </a>
  </li>

  <li class="inactive">
    <a href="ajax/popup-info.html" data-tooltip="tooltip title" data-tooltip-hide-on-hover class="link-popup">
      <i class="fa fa-info-circle" aria-hidden="true"></i>
    </a>
  </li>
  
  <li >
    <a data-tooltip="rename folder" data-tooltip-hide-on-hover (click)="rename_popup($event)">
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </a>
  </li>