

<div class="popup popup-login mfp-hide" id="popup-login">
	<header class="popup-head">
		<i class="ico-logo-square"></i>

		<h3 class="popup-title">Log in as</h3><!-- /.popup-title -->

		<a href="#" class="link-close-popup">
			<i class="fa fa-times" aria-hidden="true"></i>
		</a>

		<nav class="tabs-nav">
			<ul>
				<li class="current">
					<a href="#login1">EXISTING USER</a>
				</li>
				
				<li>
					<a href="#login2">EXISTING WRITER</a>
				</li>
			</ul>
		</nav><!-- /.tabs-nav -->
	</header><!-- /.popup-head -->

	<div class="popup-body">
		<div class="tabs-body">
			<div class="tab current" id="login1">
				<div class="form-primary form-login" data-target="#logged-in">
					<form (submit)="login($event, loginForm.value)" #loginForm="ngForm" ngNativeValidate>
						<div class="form-body">
							<div class="form-row">
								<div class="form-controls">
									<input type="email" class="field" name="username" id="field-email1"placeholder="Email Address" required [(ngModel)]="loginForm.username">

									<i class="fa fa-envelope" aria-hidden="true"></i>
								</div><!-- /.form-controls -->
							</div><!-- /.form-row -->
							
							<div class="form-row">
								<div class="form-controls">
									<input type="password" class="field" name="password" id="field-pass1"  placeholder="Password" required [(ngModel)]="loginForm.password">

									<i class="fa fa-lock" aria-hidden="true"></i>
								</div><!-- /.form-controls -->
							</div><!-- /.form-row -->

							<div class="form-row">
								<a class="link-password" data-psy-pop="forgot-password">forgot password?</a>
							</div><!-- /.form-row -->
						</div><!-- /.form-body -->
						
						<div class="form-actions">
							<input type="submit" value="Log in" class="form-btn btn btn-block btn-primary btn-blue" *ngIf="!isSubmitted">

							<div class="sk-fading-circle submit-loader" *ngIf="isSubmitted">
								<div class="sk-circle1 sk-circle"></div>
								<div class="sk-circle2 sk-circle"></div>
								<div class="sk-circle3 sk-circle"></div>
								<div class="sk-circle4 sk-circle"></div>
								<div class="sk-circle5 sk-circle"></div>
								<div class="sk-circle6 sk-circle"></div>
								<div class="sk-circle7 sk-circle"></div>
								<div class="sk-circle8 sk-circle"></div>
								<div class="sk-circle9 sk-circle"></div>
								<div class="sk-circle10 sk-circle"></div>
								<div class="sk-circle11 sk-circle"></div>
								<div class="sk-circle12 sk-circle"></div>
							</div>
							<ul class="form-errors" *ngIf="formErrors?.length">
								<li *ngFor="let item of formErrors">{{item}}</li>
							</ul>
							<span class="divider">
								<span>or</span>
							</span>

							<ul class="list-logins">
								<li>
									<a class="facebook" (click)="loginWithFacebook()">
										<i class="fa fa-facebook" aria-hidden="true"></i>

										Facebook
									</a>
								</li>
								
								<li>
									<a class="google-plus">
									<!-- <a class="google-plus" (click)="GoogleExternalLogin()"> -->
										<div class="g-signin2"  data-onsuccess="GoogleExternalLogin"></div>
										<i class="fa fa-google-plus" aria-hidden="true"></i>

										Google
									</a>
								</li>
							</ul><!-- /.list-logins -->

							<ul class="form-errors" *ngIf="socialFormErrors?.length">
									<li *ngFor="let item of socialFormErrors">{{item}}</li>
								</ul>
							<small>Don’t have an account?</small>

							<a class="btn btn-primary btn-transparent btn-block" data-psy-pop="register">Register</a>
						</div><!-- /.form-actions -->
					</form>
				</div><!-- /.form-primary -->
			</div><!-- /.tab -->

			<div class="tab" id="login2">
				<div class="form-primary form-login">
					<form action="?" method="post">
						<div class="form-body">
							<div class="form-row">
								<div class="form-controls">
									<input type="email" class="field" name="field-email2" id="field-email2" value="" placeholder="Email Address" required>

									<i class="fa fa-envelope" aria-hidden="true"></i>
								</div><!-- /.form-controls -->
							</div><!-- /.form-row -->
							
							<div class="form-row">
								<div class="form-controls">
									<input type="password" class="field" name="field-pass2" id="field-pass2" value="" placeholder="Password" required>

									<i class="fa fa-lock" aria-hidden="true"></i>
								</div><!-- /.form-controls -->
							</div><!-- /.form-row -->

							<div class="form-row">
								<a class="link-password " data-psy-pop="forgot-password">forgot password?</a>
							</div><!-- /.form-row -->
						</div><!-- /.form-body -->
						
						<div class="form-actions">
							<input type="submit" value="Log in" class="form-btn btn btn-block btn-primary btn-blue">

							<small>Don’t have an account?</small>

							<a class="btn btn-primary btn-transparent btn-block" data-psy-pop="register">Register</a>
						</div><!-- /.form-actions -->
					</form>
				</div><!-- /.form-primary -->
			</div><!-- /.tab -->
		</div><!-- /.tabs-body -->
	</div><!-- /.popup-body -->
</div><!-- /.popup popup-login -->