<div class="section section-hot ltr" *ngIf="model?.hotOnFacebook || model?.mostRead">
  <div class="section-image">
    <img src="../../../assets/images/temp/section-bg.jpg" alt="" class="fullsize-bg">
  </div><!-- /.section-image -->

  <div class="section-content">
    <header class="section-head">
      <nav class="tabs-nav">
        <i class="ico-logo-yellow"></i>
    
        <ul>
          <!-- <li class="{{model?.hotOnFacebook ? 'current' : ''}}" *ngIf="model?.hotOnFacebook">
            <a href="#tab-hot1111">HOT ON FACEBOOK</a>
          </li> -->
          
          <!-- <li class="{{!(model?.hotOnFacebook) ? 'current' : ''}}" *ngIf="model?.mostRead"> -->
              <li class="current" *ngIf="model?.mostRead">
            <a href="#tab-hot222">MOST READ</a>
          </li>
        </ul>
      </nav><!-- /.tabs-nav -->
    
      <!-- <a href="#">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
      </a> -->
    </header><!-- /.section-head -->
    
    <div class="section-body">
      <div class="tabs-body scrollable-horizontal">
        <!-- <div class="tab {{model?.hotOnFacebook ? 'current' : ''}}" id="tab-hot1111" *ngIf="model?.hotOnFacebook">
          <div class="slider slider-feed">
            <div class="slides owl-carousel">
              <div class="slide" *ngFor="let slide of model?.hotOnFacebook">
                <ul class="list-news list-news-dark list-feed">
                  <li>
                    <span class="frame" *ngIf="slide?.image">
                      <a title="{{slide.title}}" routerLink="/Details/{{slide.id + (slide.customUrlTitle ? '/' + slide.customUrlTitle : '')}}">
                        <img src="{{RESIZED_CONTENT_PATH}}100x73xo/{{slide.image}}" alt="{{slide.title}}">
                      </a>
                    </span>

                    <div>
                      <p [innerHTML]="slide?.title | truncate:40"></p>
                      <iframe [src]="'https://www.facebook.com/plugins/like.php?href=' + BASE_URL + 'Details/' + slide?.id + (slide?.customUrlTitle ? '/' + slide?.customUrlTitle : '') + '&width=61&layout=button_count&action=like&size=small&share=false&height=21&appId=' + FACEBOOK_APP_ID | safeUrl" width="61" height="21" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

                    </div>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div> -->

        <!-- <div class="tab {{!(model?.hotOnFacebook) ? 'current' : ''}}" id="tab-hot222" *ngIf="model?.mostRead"> -->
            <div class="tab current" id="tab-hot222" *ngIf="model?.mostRead">
          <div class="slider slider-feed">
            <div class="slides owl-carousel">
              <div class="slide" *ngFor="let slide of model?.mostRead">
                <ul class="list-news list-news-dark list-feed">
                  <li>
                    <span class="frame" *ngIf="slide?.image">
                      <a title="{{slide.title}}" routerLink="/Details/{{slide.id + (slide.customUrlTitle ? '/' + slide.customUrlTitle : '')}}">
                        <img src="{{RESIZED_CONTENT_PATH}}100x73xo/{{slide.image}}" alt="{{slide.title}}">
                      </a>
                    </span>

                    <div>
                      <p [innerHTML]="slide?.title | truncate:40"></p>
                      <iframe [src]="'https://www.facebook.com/plugins/like.php?href=' + BASE_URL + 'Details/' + slide?.id + (slide?.customUrlTitle ? '/' + slide?.customUrlTitle : '') + '&width=61&layout=button_count&action=like&size=small&share=false&height=21&appId=' + FACEBOOK_APP_ID | safeUrl" width="61" height="21" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                      
                    
                      <!-- <a href="#">
                        <img src="../../assets/images/temp/share.png" alt="share">
                      </a> -->
                    </div>
                  </li>
                </ul><!-- /.list-news list-news-dark -->
              </div><!-- /.slide -->

            </div><!-- /.slides -->
          </div><!-- /.slider -->
        </div><!-- /#tab-hot1111.tab current -->
      </div><!-- /.tabs-body -->
    </div><!-- /.section-body -->
  </div><!-- /.section-content -->
</div><!-- /.section section-hot -->