<div class="container">
		<div class="main">
			<div class="shell">
				<div class="content">
					<div class="content-inner">
						<div class="content-inner-flex">
							<div class="slider slider-primary" *ngIf="categoryModel?.slideshow?.length > 0">
								<div class="slider-loader">
									<i class="ico-loader"></i>
								</div><!-- /.slider-loader -->
								
								<div class="slider-outer">
									<span class="slider-meta">
										<span class="index"></span><small>//</small><br />
									
										<span class="all"></span>
									</span>
									
									<div class="slides owl-carousel">
										<div class="slide" *ngFor="let slide of categoryModel?.slideshow">
											<div class="slide-image {{slide.youtubeLink ? 'slide-video' : ''}}">
												<a title="{{slide.title}}" routerLink="/Details/{{slide.id}}/{{slide.customUrlTitle ? '/' + slide.customUrlTitle : ''}}">
													<img src="{{RESIZED_CONTENT_PATH}}857x456xo/{{slide.image}}" alt="{{slide.title}}" class="fullsize-bg">
												</a>
											</div><!-- /.slide-image -->
									
											<div class="slide-content" *ngIf="slide.smallDescription">
												<a title="{{slide.title}}" routerLink="/Details/{{slide.id}}/{{slide.customUrlTitle ? '/' + slide.customUrlTitle : ''}}" class="slide-title" [innerHTML]="slide.smallDescription | truncate:200"></a>
											</div><!-- /.slide-content -->
										</div><!-- /.slide -->
									
									</div><!-- /.slides -->
								</div><!-- /.slider-outer -->

								<div class="slider-nav">
									<ul class="owl-carousel" >
										<li *ngFor="let slide of categoryModel?.slideshow" class="slide.isArabic ? 'rtl' : ''">
											<a [innerHTML]="slide.title"></a>
										</li>
									</ul>
								</div><!-- /.slider-nav -->
							</div><!-- /.slider -->
						
							<div class="content-aside" *ngIf="categoryModel?.mostRecent?.length > 0">
								<h3 class="content-title">
									<i class="ico-title"></i>
						
									Most Recent
								</h3><!-- /.content-title -->
						
								<ul class="posts">
									<li class="post" *ngFor="let item of categoryModel?.mostRecent">
										<div class="post-inner">
											<header class="post-head">
												<h2 class="post-title">
													<a routerLink="/Details/{{item.id}}/{{item.customUrlTitle ? '/' + item.customUrlTitle : ''}}">{{item.title}}</a>
												</h2><!-- /.post-title -->
											</header><!-- /.post-head -->
										
											<div class="post-body" *ngIf="item.smallDescription">
												<p [innerHTML]="item.smallDescription | truncate:200"></p>
											</div><!-- /.post-body -->
										
											<footer class="post-foot">
												<ul class="list-meta">
													<li *ngIf="item.writer">
														<a routerLink="/Writer/{{item.writer?.id}}">
															<i class="ico-logo"></i>
										
															By {{item.writer?.name}}
														</a>
													</li>
													
													<li>
														<a>{{item.date | date:'MMM d'}}</a>
													</li>
												</ul><!-- /.list-meta -->
											</footer><!-- /.post-foot -->
										</div><!-- /.post-inner -->
									</li><!-- /.post -->
						
								
								</ul><!-- /.posts -->
							</div><!-- /.content-aside -->
						</div><!-- /.content-inner-flex -->
						
						<div class="tabs tabs-secondary">
							<div class="tabs-head">
								<nav class="tabs-nav">
									<ul>
										<li class="current">
											<a>RECENT STORIES</a>
										</li>
										
										<li>
											<a >EDITOR’S PICKS</a>
										</li>
									</ul>
								</nav><!-- /.tabs-nav -->
							</div><!-- /.tabs-head -->
							
							<div class="tabs-body">
								<div class="tab current" id="primary-category-listing" >
									<section class="section section-articles section-articles-primary no-sidebar" *ngIf="listingModel">
										<div class="section-content">
											<ul class="posts">
												<li class="post post-large" *ngIf="listingModel?.mainArticle">
                         
													<div class="post-inner">
														<div class="post-image" *ngIf="listingModel?.mainArticle?.image">
															<a routerLink="/Details/{{listingModel?.mainArticle?.id}}/{{listingModel?.mainArticle?.customUrlTitle ? '/' + listingModel?.mainArticle.customUrlTitle : ''}}">
																<img src="{{RESIZED_CONTENT_PATH}}348x301xi/{{listingModel?.mainArticle?.image}}" alt="">
															</a>
														</div><!-- /.post-image -->
													
														<div class="post-content">
															<header class="post-head">
																<h2 class="post-title">
																	<a routerLink="/Details/{{listingModel?.mainArticle?.id}}/{{listingModel?.mainArticle?.customUrlTitle ? '/' + listingModel?.mainArticle.customUrlTitle : ''}}">{{listingModel?.mainArticle?.title | truncate: 52}}</a>
																</h2><!-- /.post-title -->
															</header><!-- /.post-head -->
															
															<div class="post-body">
																<p [innerHTML]="listingModel?.mainArticle?.smallDescription | truncate: 315"></p>
															</div><!-- /.post-body -->
															
															<footer class="post-foot">
																<ul class="list-meta">
																	<li *ngIf="listingModel?.mainArticle?.writer">
																		<a routerLink="/Writer/{{listingModel?.mainArticle?.writer?.id}}">
																			<i class="ico-logo"></i>
															
																			By {{listingModel?.mainArticle?.writer?.name}}
																		</a>
																	</li>
																	
																	<li>
																		<a href="#">Jan 8</a>
																	</li>
																</ul><!-- /.list-meta -->
															</footer><!-- /.post-foot -->
														</div><!-- /.post-content -->
													</div><!-- /.post-inner -->
												</li><!-- /.post -->
						
												<li class="post {{post.isArabic ? 'rtl' : ''}}" *ngFor="let post of listingModel?.primaryList">
													<div class="post-inner">
														<header class="post-head">
															<h2 class="post-title">
																<a title="{{post.title}}" routerLink="/Details/{{post.id + (post.customUrlTitle ? '/' + post.customUrlTitle : '')}}">{{post.title | truncate:80}}</a>
															</h2><!-- /.post-title -->
														</header><!-- /.post-head -->
													
														<div class="post-body">
															<div class="post-image" *ngIf="post.image">
																<a title="{{post.title}}" routerLink="/Details/{{post.id + (post.customUrlTitle ? '/' + post.customUrlTitle : '')}}">
																	<img src="{{RESIZED_CONTENT_PATH}}135x95xi/{{post.image}}" alt="{{post.title}}">
																</a>
															</div><!-- /.post-image -->
															<p [innerHTML]="post.smallDescription"></p>
														</div><!-- /.post-body -->
													
														<footer class="post-foot">
															<ul class="list-meta">
																<li *ngIf="post.writer">
																	<a title="{{post.writer?.name}}" routerLink="/Writer/{{post.writer?.id}}">
																		<i class="ico-logo"></i>
													
																		By {{post.writer?.id}}
																	</a>
																</li>
																
																<li>
																	<a title="{{post.title}}" routerLink="/Details/{{post.id + (post.customUrlTitle ? '/' + post.customUrlTitle : '')}}">{{post.date | date:'MMM d'}}</a>
																</li>
															</ul><!-- /.list-meta -->
														</footer><!-- /.post-foot -->
													</div><!-- /.post-inner -->
												</li><!-- /.post -->
						
			
											</ul><!-- /.posts -->
										</div><!-- /.section-content -->
                  </section><!-- /.section section-articles -->
                  
								</div><!-- /.tab -->

							</div><!-- /.tabs-body -->
						</div><!-- /.tabs -->
						<div id="hot-most-read">
							<div class="section section-hot ltr" *ngIf="listingModel?.hotOnFacebook || listingModel?.mostRead">
									<div class="section-image">
										<img src="../../assets/images/temp/section-bg.jpg" alt="" class="fullsize-bg">
									</div><!-- /.section-image -->
								
									<div class="section-content">
										<header class="section-head">
											<nav class="tabs-nav">
												<i class="ico-logo-yellow"></i>
										
												<ul>
													<li class="{{listingModel?.hotOnFacebook ? 'current' : ''}}" *ngIf="listingModel?.hotOnFacebook">
														<a href="#tab-hot1111">HOT ON FACEBOOK</a>
													</li>
													
													<li class="{{!(listingModel?.hotOnFacebook) ? 'current' : ''}}" *ngIf="listingModel?.mostRead">
														<a href="#tab-hot222">MOST READ</a>
													</li>
												</ul>
											</nav><!-- /.tabs-nav -->
										
											<a href="#">
												<i class="fa fa-plus-circle" aria-hidden="true"></i>
											</a>
										</header><!-- /.section-head -->
										
										<div class="section-body">
											<div class="tabs-body scrollable-horizontal">
												<div class="tab {{listingModel?.hotOnFacebook ? 'current' : ''}}" id="tab-hot1111" *ngIf="listingModel?.hotOnFacebook">
													<div class="slider slider-feed">
														<div class="slides owl-carousel">
															<div class="slide" *ngFor="let slide of listingModel?.hotOnFacebook">
																<ul class="list-news list-news-dark list-feed">
																	<li>
																		<span *ngIf="slide?.image">
																			<a title="{{slide.title}}" routerLink="/Details/{{slide.id + (slide.customUrlTitle ? '/' + slide.customUrlTitle : '')}}">
																				<img src="{{RESIZED_CONTENT_PATH}}100x73xo/{{slide.image}}" alt="{{slide.title}}">
																			</a>
																		</span>
								
																		<div>
																			<p [innerHTML]="slide?.title"></p>
																			
																			<a>
																				<img src="../../assets/images/temp/share.png" alt="">
																			</a>
																		</div>
																	</li>
																</ul><!-- /.list-news list-news-dark -->
															</div><!-- /.slide -->

														</div><!-- /.slides -->
													</div><!-- /.slider -->
												</div><!-- /#tab-hot1111.tab current -->
								
												<div class="tab {{!(listingModel?.hotOnFacebook) ? 'current' : ''}}" id="tab-hot222" *ngIf="listingModel?.mostRead">
													<div class="slider slider-feed">
														<div class="slides owl-carousel">
															<div class="slide" *ngFor="let slide of listingModel?.mostRead">
																<ul class="list-news list-news-dark list-feed">
																	<li>
																		<span *ngIf="slide?.image">
																			<a title="{{slide.title}}" routerLink="/Details/{{slide.id + (slide.customUrlTitle ? '/' + slide.customUrlTitle : '')}}">
																				<img src="{{RESIZED_CONTENT_PATH}}100x73xo/{{slide.image}}" alt="{{slide.title}}">
																			</a>
																		</span>
								
																		<div>
																			<p [innerHTML]="slide?.title"></p>
																			
																			<a href="#">
																				<img src="../../assets/images/temp/share.png" alt="share">
																			</a>
																		</div>
																	</li>
																</ul><!-- /.list-news list-news-dark -->
															</div><!-- /.slide -->
								
														</div><!-- /.slides -->
													</div><!-- /.slider -->
												</div><!-- /#tab-hot1111.tab current -->
											</div><!-- /.tabs-body -->
										</div><!-- /.section-body -->
									</div><!-- /.section-content -->
								</div><!-- /.section section-hot -->
						</div>
						<section class="section section-articles no-sidebar" *ngIf="listingModel?.loadMoreArticles">
							<div class="section-content">
								<ul class="posts">
									<li class="post {{item.isArabic ? 'rtl' : ''}}" *ngFor="let item of listingModel?.loadMoreArticles">
										<div class="post-inner">
											<header class="post-head">
												<h2 class="post-title">
													<a title="{{item.title}}" routerLink="/Details/{{item.id +(item.customUrlTitle ? '/' + item.customUrlTitle : '')}}">{{item.title | truncate:80}}</a>
												</h2><!-- /.post-title -->
											</header><!-- /.post-head -->
										
											<div class="post-body">
												<div class="post-image" *ngIf="item.image">
													<a title="{{item.title}}" routerLink="/Details/{{item.id +(item.customUrlTitle ? '/' + item.customUrlTitle : '')}}">
														<img src="{{RESIZED_CONTENT_PATH}}135x95xi/{{item.image}}" alt="{{item.title}}">
													</a>
												</div><!-- /.post-image -->
										
												<p [innerHTML]="item.smallDescription | truncate:300"></p>
											</div><!-- /.post-body -->
										
											<footer class="post-foot">
												<ul class="list-meta">
													<li *ngIf="item.writer">
														<a title="{{item.writer?.title}}" routerLink="/Writer/{{item.writer?.id}}">
															<i class="ico-logo"></i>
										
															By {{item.writer?.title}}
														</a>
													</li>
													
													<li>
														<a title="{{item.title}}" routerLink="/Details/{{id +(item.customUrlTitle ? '/' + item.customUrlTitle : '')}}">{{item.date | date: 'MMM d'}}</a>
													</li>
												</ul><!-- /.list-meta -->
											</footer><!-- /.post-foot -->
										</div><!-- /.post-inner -->
									</li><!-- /.post -->
										
								</ul><!-- /.posts -->
							</div><!-- /.section-content -->
						</section><!-- /.section section-articles -->
					</div><!-- /.content-inner -->
					
					<div class="content-actions" id="load-more-container">
						<a href="#" class="link-load">
							<ul class="load-more-loader">
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</a>
					</div><!-- /.content-actions -->
				</div><!-- /.content -->
					
				<div class="sidebar">
					<ul class="widgets">
						<li class="widget-subscribe">
							<div class="widget-content">
								<div class="subscribe">
									<i class="ico-newsletter"></i>
					
									<form action="?" method="post">
										<label for="mail">
											<span>
												<i class="fa fa-envelope" aria-hidden="true"></i>
											</span>
					
											<strong>
												JOIN OUR <br />
												
												NEWSLETTER
											</strong>
										</label>
										
										<input type="email" id="mail" name="mail" value="" placeholder="Enter E-mail Address" class="subscribe-field">
										
										<input type="submit" value="Join" class="subscribe-btn btn">
									</form>
								</div><!-- /.subscribe -->
					
								<div class="socials" *ngIf="socialMedia?.length > 0">
									<ul>
										<li *ngFor="let item of socialMedia">
											<a href="{{item.link}}" class="link-{{item.title | social:true}}" target="_blank">
												<i class="fa fa-{{item.title | social}}" aria-hidden="true"></i>
											</a>
										</li>
										
									</ul>
								</div><!-- /.socials -->
							</div><!-- /.widget-content -->
						</li><!-- /.widget -->
					
						<li class="widget-jad">
							<div class="widget-image">
								<a href="#">
									<img src="../../assets/images/temp/jadmag1.jpg" alt="">
								</a>
							</div><!-- /.widget-image -->
						</li><!-- /.widget -->
					
						<li class="widget-primary widget-bdb" *ngIf="categoryModel?.moreFeatured || categoryModel?.moreRecent">
							<header class="widget-head">
								<h3 class="widget-title">
									<span>
										<i class="ico-title"></i>
					
										MORE STORIES
									</span>
						
									<a href="#">
										<i class="fa fa-plus-circle" aria-hidden="true"></i>
									</a>
								</h3><!-- /.widget-title -->
							</header><!-- /.widget-head -->
						
							<div class="widget-body">
								<div class="tabs">
									<div class="tabs-head">
										<nav class="tabs-nav">
											<ul>
												<li class="current">
													<a href="#tab11">FEATURED</a>
												</li>
												
												<li>
													<a href="#tab12">RECENT</a>
												</li>
											</ul>
										</nav><!-- /.tabs-nav -->
									</div><!-- /.tabs-head -->
									
									<div class="tabs-body">
										<div class="tab current" id="tab11">
											<ul class="list-news list-news-round" *ngIf="categoryModel?.moreFeatured">
												<li *ngFor="let item of categoryModel?.moreFeatured" class="{{item.isArabic ? 'rtl' : ''}}">
													<span *ngIf="item.image">
														<a title="{{item.title}}" routerLink="/Details/{{item.id + (item.customUrlTitle ? '/' + item.customUrlTitle : '')}}">
															<img src="{{RESIZED_CONTENT_PATH}}63x63xo/{{item.image}}" alt="{{item.title}}">
														</a>
													</span>
						
													<h4>
														<a title="{{item.title}}" routerLink="/Details/{{item.id + (item.customUrlTitle ? '/' + item.customUrlTitle : '')}}">{{item.title}}</a>
													</h4>
												</li>
											</ul><!-- /.list-news -->
										</div><!-- /.tab -->
						
										<div class="tab" id="tab12">
											<ul class="list-news list-news-round" *ngIf="categoryModel?.moreRecent">
												<li *ngFor="let item of categoryModel?.moreRecent" class="{{item.isArabic ? 'rtl' : ''}}">
													<span *ngIf="item.image">
														<a title="{{item.title}}" routerLink="/Details/{{item.id + (item.customUrlTitle ? '/' + item.customUrlTitle : '')}}">
															<img src="{{RESIZED_CONTENT_PATH}}63x63xo/{{item.image}}" alt="{{item.title}}">
														</a>
													</span>
						
													<h4>
														<a title="{{item.title}}" routerLink="/Details/{{item.id + (item.customUrlTitle ? '/' + item.customUrlTitle : '')}}">{{item.title}}</a>
													</h4>
												</li>
											</ul><!-- /.list-news -->
										</div><!-- /.tab -->
									</div><!-- /.tabs-body -->
								</div><!-- /.tabs -->
							</div><!-- /.widget-body -->
						</li><!-- /.widget-primary -->
					
						<li class="widget-primary" *ngIf="categoryModel?.about">
							<div class="quote">
								<div class="quote-inner">
									<blockquote [innerHTML]="listingModel?.about"></blockquote>
													
									<ul class="list-inline">
										<li>
											<a href="#">
												<i class="fa fa-envelope" aria-hidden="true"></i>
											</a>
										</li>
										
										<li>
											<a href="#">
												<i class="fa fa-twitter" aria-hidden="true"></i>
											</a>
										</li>
									</ul><!-- /.list-inline -->
								</div><!-- /.quote-inner -->
							</div><!-- /.quote -->
						</li><!-- /.widget-primary -->
					</ul><!-- /.widgets -->
				</div><!-- /.sidebar -->
			</div><!-- /.shell -->
		</div><!-- /.main -->
	</div><!-- /.container -->