<div class="subscribe">
  <i class="ico-newsletter"></i>

  <form action="?" method="post">
    <label for="mail">
      <span>
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </span>

      <strong>
        JOIN OUR <br />
        
        NEWSLETTER
      </strong>
    </label>
    
    <input type="email" id="email" name="email" value="" placeholder="Enter E-mail Address" class="subscribe-field" required>
    
    <input type="submit" value="Join" class="subscribe-btn btn">
  </form>
</div><!-- /.subscribe -->