<div class="popup popup-login popup-register mfp-hide" id="popup-register">
	<header class="popup-head">
		<i class="ico-logo-square"></i>

		<h3 class="popup-title">Register as</h3><!-- /.popup-title -->

		<a href="#" class="link-close-popup">
			<i class="fa fa-times" aria-hidden="true"></i>
		</a>

		<nav class="tabs-nav">
			<ul>
				<li class="current">
					<a href="#login1">New USER</a>
				</li>
				
				<li>
					<a href="#login2">New WRITER</a>
				</li>
			</ul>
		</nav><!-- /.tabs-nav -->
	</header><!-- /.popup-head -->

	<div class="popup-body">
		<div class="tabs-body">
			<div class="tab current" id="login1">
				<div class="form-primary form-login">
					<form (submit)="register($event, registerForm.value)" #registerForm="ngForm" ngNativeValidate>
						<div class="form-body">
							<div class="cols">
								<div class="col col-1of2">
									<div class="form-row">
										<div class="form-controls">
											<input type="text" name="fullName" class="field" id="field-name"   placeholder="Full Name"  [(ngModel)]="registerForm.fullName" required>

											<i class="fa fa-user" aria-hidden="true"></i>
										</div><!-- /.form-controls -->
									</div><!-- /.form-row -->
									
									<div class="form-row" *ngIf="sharedModel?.formData?.userIdentifications?.length">
										<div class="form-controls form-select">
											<select name="identifies" id="field-identify" class="select"  [(ngModel)]="registerForm.identifies" required>
												<option value="">User Identifies as</option>
                        <option value="{{item.key}}" *ngFor="let item of sharedModel?.formData?.userIdentifications">{{item.value}}</option>
											</select>

											<i class="fa fa-male" aria-hidden="true"></i>

											<i class="fa fa-female" aria-hidden="true"></i>
										</div><!-- /.form-controls -->
									</div><!-- /.form-row -->
									
									<div class="form-row">
										<div class="form-controls">
											<input type="text" class="field field-date" name="year" id="field-birth" placeholder="Year Of Birth" required [(ngModel)]="registerForm.year">

											<i class="fa fa-calendar-o" aria-hidden="true"></i>
										</div><!-- /.form-controls -->
									</div><!-- /.form-row -->
									
									<div class="form-row" *ngIf="sharedModel?.formData?.countries?.length">
										<div class="form-controls form-select">
											<select name="countryId" id="field-Country" class="select" required [(ngModel)]="registerForm.countryId">
												<option value="" >Country of residence</option>
												<option value="{{item.key}}" *ngFor="let item of sharedModel?.formData?.countries">{{item.value}}</option>
											</select>

											<i class="fa fa-flag" aria-hidden="true"></i>
										</div><!-- /.form-controls -->
									</div><!-- /.form-row -->
								</div><!-- /.col col-1of2 -->
								
								<div class="col col-1of2">
									<div class="form-row">
										<div class="form-controls">
											<input type="email" class="field" name="UserName" id="field-email"  placeholder="Email Address" required [(ngModel)]="registerForm.UserName">

											<i class="fa fa-envelope" aria-hidden="true"></i>
										</div><!-- /.form-controls -->
									</div><!-- /.form-row -->

									<div class="form-row">
										<div class="form-controls">
											<input type="password" class="field" name="password" id="field-pass"  placeholder="Password" required [(ngModel)]="registerForm.password">

											<i class="fa fa-lock" aria-hidden="true"></i>
										</div><!-- /.form-controls -->
									</div><!-- /.form-row -->

									<div class="form-row">
										<div class="form-controls">
											<input type="password" class="field" name="ConfirmPassword" id="field-pass2" placeholder="Confirm Password" required [(ngModel)]="registerForm.ConfirmPassword">

											<i class="fa fa-lock" aria-hidden="true"></i>
										</div><!-- /.form-controls -->
									</div><!-- /.form-row -->
								</div><!-- /.col col-1of2 -->
							</div><!-- /.cols -->
						</div><!-- /.form-body -->
						<ul class="form-errors" *ngIf="formErrors?.length">
							<li *ngFor="let item of formErrors">{{item}}</li>
						</ul>
						<div class="form-actions">
							<span class="form-required">Required</span>

              <input type="submit" value="Register" class="form-btn btn btn-primary btn-blue" *ngIf="!isSubmitted">
              
							<div class="sk-fading-circle submit-loader" *ngIf="isSubmitted">
								<div class="sk-circle1 sk-circle"></div>
								<div class="sk-circle2 sk-circle"></div>
								<div class="sk-circle3 sk-circle"></div>
								<div class="sk-circle4 sk-circle"></div>
								<div class="sk-circle5 sk-circle"></div>
								<div class="sk-circle6 sk-circle"></div>
								<div class="sk-circle7 sk-circle"></div>
								<div class="sk-circle8 sk-circle"></div>
								<div class="sk-circle9 sk-circle"></div>
								<div class="sk-circle10 sk-circle"></div>
								<div class="sk-circle11 sk-circle"></div>
								<div class="sk-circle12 sk-circle"></div>
							</div>
						</div><!-- /.form-actions -->
					</form>
				</div><!-- /.form-primary -->
			</div><!-- /.tab -->

			<div class="tab" id="login2">
				<div class="form-primary form-login" data-target="#popup-thank-you">
					<form action="?" method="post">
						<div class="form-body">
							<ul class="list-steps">
								<li>
									<a href="#">
										<i class="fa fa-download" aria-hidden="true"></i>

										DOWNLOAD SIGNED AGREEMENT FORM
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="fa fa-upload" aria-hidden="true"></i>

										UPLOAD SIGNED AGREEMENT FRORM
									</a>
								</li>
								
								<li>
									<a href="#" class="link-avatar">
										<span class="plus">
											<i class="fa fa-plus" aria-hidden="true"></i>
											
											<i class="fa fa-pencil hidden" aria-hidden="true"></i>
										</span>

										<span class="image">
											<i class="fa fa-user" aria-hidden="true"></i>

											<img src="css/images/temp/writer-inner.png" alt="">
										</span>

										<span class="text">Add Picture</span>
									</a>
								</li>
							</ul><!-- /.list-steps -->

							<div class="form-group">
								<div class="cols">
									<div class="col col-1of2">
										<div class="form-row">
											<div class="form-controls">
												<input type="text" class="field" name="field-name2" id="field-name2" value="" placeholder="Full Name" required>

												<i class="fa fa-user" aria-hidden="true"></i>
											</div><!-- /.form-controls -->
										</div><!-- /.form-row -->
										
										<div class="form-row" *ngIf="sharedModel?.formData?.userIdentifications?.length">
											<div class="form-controls form-select">
												<select name="field-identify2" id="field-identify2" class="select" required>
													<option value="">User Identifies as</option>
													<option value="{{item.key}}" *ngFor="let item of sharedModel?.formData?.userIdentifications">{{item.value}}</option>
												</select>

												<i class="fa fa-male" aria-hidden="true"></i>

												<i class="fa fa-female" aria-hidden="true"></i>
											</div><!-- /.form-controls -->
										</div><!-- /.form-row -->
									</div><!-- /.col col-1of2 -->
									
									<div class="col col-1of2">
										<div class="form-row">
											<div class="form-controls form-select">
												<select name="field-Country2" id="field-Country2" class="select" required>
													<option value="">Country of residence</option>
													<option value="1">Country of residence1</option>
													<option value="2">Country of residence2</option>
												</select>

												<i class="fa fa-flag" aria-hidden="true"></i>
											</div><!-- /.form-controls -->
										</div><!-- /.form-row -->

										<div class="form-row">
											<div class="form-controls">
												<input type="email" class="field" name="field-email2" id="field-email2" value="" placeholder="Email Address" required>

												<i class="fa fa-envelope" aria-hidden="true"></i>
											</div><!-- /.form-controls -->
										</div><!-- /.form-row -->
									</div><!-- /.col col-1of2 -->
								</div><!-- /.cols -->
							</div><!-- /.form-group -->
							
							<div class="form-group">
								<div class="cols">
									<div class="col col-1of2">
										<div class="form-row">
											<div class="form-controls">
												<input type="text" class="field" name="field-website" id="field-website" value="" placeholder="Website">

												<i class="fa fa-external-link-square" aria-hidden="true"></i>
											</div><!-- /.form-controls -->
										</div><!-- /.form-row -->
										
										<div class="form-row">
											<div class="form-controls">
												<input type="text" class="field" name="field-facebook" id="field-facebook" value="" placeholder="Facebook">

												<i class="fa fa-facebook" aria-hidden="true"></i>
											</div><!-- /.form-controls -->
										</div><!-- /.form-row -->
									</div><!-- /.col col-1of2 -->
									
									<div class="col col-1of2">
										<div class="form-row">
											<div class="form-controls">
												<input type="text" class="field" name="field-twitter" id="field-twitter" value="" placeholder="Twitter">

												<i class="fa fa-twitter" aria-hidden="true"></i>
											</div><!-- /.form-controls -->
										</div><!-- /.form-row -->
										
										<div class="form-row">
											<div class="form-controls">
												<input type="text" class="field" name="field-linkedin" id="field-linkedin" value="" placeholder="Linkedin">

												<i class="fa fa-linkedin" aria-hidden="true"></i>
											</div><!-- /.form-controls -->
										</div><!-- /.form-row -->
									</div><!-- /.col col-1of2 -->
								</div><!-- /.cols -->
							</div><!-- /.form-group -->

							<div class="form-group">
								<div class="form-row">
									<div class="form-controls form-controls-error">
										<textarea class="textarea" name="field-bio" id="field-bio" placeholder="Bio" required></textarea>

										<i class="fa fa-file-text" aria-hidden="true"></i>

										<span class="form-error">Required</span>
									</div><!-- /.form-controls -->
								</div><!-- /.form-row -->
							</div><!-- /.form-group -->
						</div><!-- /.form-body -->
						
						<div class="form-actions">
							<span class="form-required">Required</span>

							<input type="submit" value="Register" class="form-btn btn btn-primary btn-blue">
						</div><!-- /.form-actions -->
					</form>
				</div><!-- /.form-primary -->
			</div><!-- /.tab -->
		</div><!-- /.tabs-body -->
	</div><!-- /.popup-body -->
</div><!-- /.popup popup-login -->

