<div class="popup popup-login popup-register mfp-hide" id="popup-register">
	<header class="popup-head">
		<i class="ico-logo-square"></i>

		<h3 class="popup-title">Register as</h3><!-- /.popup-title -->

		<a href="#" class="link-close-popup">
			<i class="fa fa-times" aria-hidden="true"></i>
		</a>

		<nav class="tabs-nav">
			<ul>
				<li class="current" (click)="reset_register_form()">
					<a href="#login1">New USER</a>
				</li>
				
				<li (click)="reset_register_form()">
					<a href="#login2">New WRITER</a>
				</li>
			</ul>
		</nav><!-- /.tabs-nav -->
	</header><!-- /.popup-head -->

	<div class="popup-body">
		<div class="tabs-body">
			<div class="tab current" id="login1">
				<div class="form-primary form-login">
					<form (submit)="register($event, registerMyForm.value)" #registerMyForm="ngForm" ngNativeValidate>
						<div class="form-body">
							<div class="cols">
								<div class="col col-1of2">
									<div class="form-row">
										<div class="form-controls">
											<input type="text" name="fullName" class="field" id="field-name"   placeholder="Full Name"  [(ngModel)]="registerForm.fullName" required>

											<i class="fa fa-user" aria-hidden="true"></i>
										</div><!-- /.form-controls -->
									</div><!-- /.form-row -->
									
									<div class="form-row" *ngIf="sharedModel?.formData?.userIdentifications?.length">
										<div class="form-controls form-select">
											<select name="identifies" id="field-identify" class="select"  [(ngModel)]="registerForm.identifies" required>
												<option value="0" >User Identifies as</option>
												<option value="{{item.key}}" *ngFor="let item of sharedModel?.formData?.userIdentifications">{{item.value}}</option>
											</select>

											<i class="fa fa-male" aria-hidden="true"></i>

											<i class="fa fa-female" aria-hidden="true"></i>
										</div><!-- /.form-controls -->
									</div><!-- /.form-row -->
									
									<div class="form-row">
										<div class="form-controls form-select">
											<!-- <input type="text" class="field field-date" name="year" id="field-birth" placeholder="Year Of Birth" required [(ngModel)]="registerForm.year"> -->

											<select name="year" id="field-year" class="select"  [(ngModel)]="registerForm.year" required>
												<option value="" [selected]="!registerForm?.year">Year Of Birth</option>
                        						<option value="{{item}}" *ngFor="let item of years">{{item}}</option>
											</select>
											<i class="fa fa-calendar-o" aria-hidden="true"></i>
										</div><!-- /.form-controls -->
									</div><!-- /.form-row -->
									
									<div class="form-row" *ngIf="sharedModel?.formData?.countries?.length">
										<div class="form-controls form-select">
											<select name="countryId" id="field-Country" class="select" required [(ngModel)]="registerForm.countryId">
												<option value="0" [selected]="!registerForm?.countryId" >Country of residence</option>
												<option value="{{item.key}}" *ngFor="let item of sharedModel?.formData?.countries">{{item.value}}</option>
											</select>

											<i class="fa fa-flag" aria-hidden="true"></i>
										</div><!-- /.form-controls -->
									</div><!-- /.form-row -->
								</div><!-- /.col col-1of2 -->
								
								<div class="col col-1of2">
									<div class="form-row">
										<div class="form-controls">
											<input type="email" class="field" name="UserName" id="field-email"  placeholder="Email Address" required [(ngModel)]="registerForm.UserName">

											<i class="fa fa-envelope" aria-hidden="true"></i>
										</div><!-- /.form-controls -->
									</div><!-- /.form-row -->

									<div class="form-row">
										<div class="form-controls">
											<input type="password" class="field" name="password" id="field-pass"  placeholder="Password" required [(ngModel)]="registerForm.password">

											<i class="fa fa-lock" aria-hidden="true"></i>
										</div><!-- /.form-controls -->
									</div><!-- /.form-row -->

									<div class="form-row">
										<div class="form-controls">
											<input type="password" class="field" name="ConfirmPassword" id="field-pass2" placeholder="Confirm Password" required [(ngModel)]="registerForm.ConfirmPassword">

											<i class="fa fa-lock" aria-hidden="true"></i>
										</div><!-- /.form-controls -->
									</div><!-- /.form-row -->
								</div><!-- /.col col-1of2 -->
							</div><!-- /.cols -->
						</div><!-- /.form-body -->
						<ul class="form-errors" *ngIf="formErrors?.length">
							<li *ngFor="let item of formErrors">{{item}}</li>
						</ul>
						<div class="form-actions">
							<span class="form-required">Required</span>

              <input type="submit" value="Register" class="form-btn btn btn-primary btn-blue" *ngIf="!isSubmitted">
              
							<div class="sk-fading-circle submit-loader" *ngIf="isSubmitted">
								<div class="sk-circle1 sk-circle"></div>
								<div class="sk-circle2 sk-circle"></div>
								<div class="sk-circle3 sk-circle"></div>
								<div class="sk-circle4 sk-circle"></div>
								<div class="sk-circle5 sk-circle"></div>
								<div class="sk-circle6 sk-circle"></div>
								<div class="sk-circle7 sk-circle"></div>
								<div class="sk-circle8 sk-circle"></div>
								<div class="sk-circle9 sk-circle"></div>
								<div class="sk-circle10 sk-circle"></div>
								<div class="sk-circle11 sk-circle"></div>
								<div class="sk-circle12 sk-circle"></div>
							</div>
						</div><!-- /.form-actions -->
					</form>
				</div><!-- /.form-primary -->
			</div><!-- /.tab -->

			<div class="tab" id="login2">
				<div class="form-primary form-login" data-target="#popup-thank-you">
					<form (submit)="register($event, myRegisterForm.value)" #myRegisterForm="ngForm" ngNativeValidate>
						<div class="form-body">
							<ul class="list-steps">
								<li>
									<a href="{{CONTENT_PATH}}CorporatePage/{{sharedModel?.formData?.agreement}}" target="_blank" *ngIf="sharedModel?.formData?.agreement">
										<i class="fa fa-download" aria-hidden="true"></i>

										DOWNLOAD SIGNED AGREEMENT FORM
									</a>
								</li>
								
								<li>
									<a class="agreement-wrapper">
										<i class="fa fa-upload" aria-hidden="true"></i>
										<input type="file" class="agreement-input" name="agreement" *ngIf="agreementUpload.status == 'empty'" [(ngModel)]="registerForm.agreement" (change)="agreement_upload($event)" placeholder="UPLOAD SIGNED AGREEMENT FRORM" accept=".pdf, .csv, .txt, .docx"/>
										<span class="agreement-progress" *ngIf="agreementUpload.status != 'empty'">
											<span class="psy-agreement-name">{{agreementUpload.name}}</span>
											<span class="psy-agreement-progress" *ngIf="agreementUpload.status == 'uploading'">{{agreementUpload.progress}}%</span>
											<span class="psy-agreement-delete" *ngIf="agreementUpload.status == 'done'" (click)="delete_agreement()">
												<i class="fa fa-trash" aria-hidden="true"></i>
											</span>
										</span>

										<span class="" *ngIf="agreementUpload.status == 'empty'">UPLOAD SIGNED AGREEMENT FRORM</span>  
									</a>
								</li>
								
								<li>
									<a class="link-avatar">
											<input type="file" class="writer-image-input"  name="image" *ngIf="imageUpload.status == 'empty' || imageUpload.status == 'done'" [(ngModel)]="registerForm.image" (change)="image_upload($event)"  accept=".jpg, .jpeg, .png"/>
										<span class="plus" *ngIf="imageUpload.status != 'uploading'">
											<i class="fa fa-plus" aria-hidden="true" *ngIf="imageUpload.status == 'empty'"></i>
											
											<i class="fa fa-pencil" aria-hidden="true" *ngIf="imageUpload.status == 'done'"></i>
										</span>

										<span class="image">
											<i class="fa fa-user" aria-hidden="true" *ngIf="imageUpload.status == 'empty'"></i>

											<!-- <img src="../assets/images/temp/writer-inner.png" alt="" *ngIf="imageUpload.status == 'empty'"> -->
											<span class="writer-image-progress" *ngIf="imageUpload.status == 'uploading'">{{imageUpload.progress}}%</span>
											<img src="{{imageUpload.thumbnail}}" alt="" *ngIf="imageUpload.status == 'done'">
										</span>

										<span class="text" *ngIf="imageUpload.status == 'empty'">Add Picture</span>
									</a>
								</li>
							</ul><!-- /.list-steps -->

							<div class="form-group">
								<div class="cols">
									<div class="col col-1of2">
										<div class="form-row">
											<div class="form-controls">
												<input type="text" class="field" name="fullName" id="field-name2" placeholder="Full Name" required [(ngModel)]="registerForm.fullName">

												<i class="fa fa-user" aria-hidden="true"></i>
											</div><!-- /.form-controls -->
										</div><!-- /.form-row -->
										
										<div class="form-row" *ngIf="sharedModel?.formData?.userIdentifications?.length">
											<div class="form-controls form-select">
												<select name="identifies" id="field-identify2" class="select" required [(ngModel)]="registerForm.identifies">
													<option value="0">User Identifies as</option>
													<option value="{{item.key}}" *ngFor="let item of sharedModel?.formData?.userIdentifications">{{item.value}}</option>
												</select>

												<i class="fa fa-male" aria-hidden="true"></i>

												<i class="fa fa-female" aria-hidden="true"></i>
											</div><!-- /.form-controls -->
										</div><!-- /.form-row -->
									</div><!-- /.col col-1of2 -->
									
									<div class="col col-1of2">
										<div class="form-row" *ngIf="sharedModel?.formData?.countries?.length">
											<div class="form-controls form-select">
												<select name="countryId" id="field-Country2" class="select" required [(ngModel)]="registerForm.countryId">
													<option value="0">Country of residence</option>
													<option value="{{item.key}}" *ngFor="let item of sharedModel?.formData?.countries">{{item.value}}</option>
												</select>

												<i class="fa fa-flag" aria-hidden="true"></i>
											</div><!-- /.form-controls -->
										</div><!-- /.form-row -->

										<div class="form-row">
											<div class="form-controls">
												<input type="email" class="field" name="UserName" id="field-email2" placeholder="Email Address" required [(ngModel)]="registerForm.UserName">

												<i class="fa fa-envelope" aria-hidden="true"></i>
											</div><!-- /.form-controls -->
										</div><!-- /.form-row -->
									</div><!-- /.col col-1of2 -->
								</div><!-- /.cols -->
							</div><!-- /.form-group -->

							<div class="form-group">
								<div class="cols">
									<div class="col col-1of2">
										<div class="form-row">
											<div class="form-controls">
												<input type="password" class="field" name="password" id="field-password2" placeholder="Password" required [(ngModel)]="registerForm.password">

												<i class="fa fa-lock" aria-hidden="true"></i>
											</div><!-- /.form-controls -->
										</div><!-- /.form-row -->
										
									</div><!-- /.col col-1of2 -->
									
									<div class="col col-1of2">

										<div class="form-row">
											<div class="form-controls">
												<input type="password" class="field" name="ConfirmPassword" id="field-ConfirmPassword2" placeholder="Confirm Password" required [(ngModel)]="registerForm.ConfirmPassword">

												<i class="fa fa-lock" aria-hidden="true"></i>
											</div><!-- /.form-controls -->
										</div><!-- /.form-row -->
									</div><!-- /.col col-1of2 -->
								</div><!-- /.cols -->
							</div><!-- /.form-group -->
							
							<div class="form-group">
								<div class="cols">
									<div class="col col-1of2">
										<div class="form-row">
											<div class="form-controls">
												<input type="text" class="field" name="website" id="field-website" placeholder="Website" [(ngModel)]="registerForm.website">

												<i class="fa fa-external-link-square" aria-hidden="true"></i>
											</div><!-- /.form-controls -->
										</div><!-- /.form-row -->
										
										<div class="form-row">
											<div class="form-controls">
												<input type="text" class="field" name="facebook" id="field-facebook" value="" placeholder="Facebook" [(ngModel)]="registerForm.facebook">

												<i class="fa fa-facebook" aria-hidden="true"></i>
											</div><!-- /.form-controls -->
										</div><!-- /.form-row -->
									</div><!-- /.col col-1of2 -->
									
									<div class="col col-1of2">
										<div class="form-row">
											<div class="form-controls">
												<input type="text" class="field" name="twitter" id="field-twitter" value="" placeholder="Twitter" [(ngModel)]="registerForm.twitter">

												<i class="fa fa-twitter" aria-hidden="true"></i>
											</div><!-- /.form-controls -->
										</div><!-- /.form-row -->
										
										<div class="form-row">
											<div class="form-controls">
												<input type="text" class="field" name="linkedin" id="field-linkedin" value="" placeholder="Linkedin" [(ngModel)]="registerForm.linkedin">

												<i class="fa fa-linkedin" aria-hidden="true"></i>
											</div><!-- /.form-controls -->
										</div><!-- /.form-row -->
									</div><!-- /.col col-1of2 -->
								</div><!-- /.cols -->
							</div><!-- /.form-group -->

							<div class="form-group">
								<div class="form-row">
									<div class="form-controls "> <!-- form-controls-error => error class -->
										<textarea class="textarea" name="bio" id="field-bio" placeholder="Bio" required [(ngModel)]="registerForm.bio"></textarea>

										<i class="fa fa-file-text" aria-hidden="true"></i>

										<span class="form-error">Required</span>
									</div><!-- /.form-controls -->
								</div><!-- /.form-row -->
							</div><!-- /.form-group -->
						</div><!-- /.form-body -->
						<ul class="form-errors" *ngIf="formErrors?.length">
							<li *ngFor="let item of formErrors">{{item}}</li>
						</ul>
						
						<div class="form-actions">
							<span class="form-required">Required</span>

							<input type="submit" value="Register" class="form-btn btn btn-primary btn-blue" *ngIf="!isSubmitted">

							<div class="sk-fading-circle submit-loader" *ngIf="isSubmitted">
									<div class="sk-circle1 sk-circle"></div>
									<div class="sk-circle2 sk-circle"></div>
									<div class="sk-circle3 sk-circle"></div>
									<div class="sk-circle4 sk-circle"></div>
									<div class="sk-circle5 sk-circle"></div>
									<div class="sk-circle6 sk-circle"></div>
									<div class="sk-circle7 sk-circle"></div>
									<div class="sk-circle8 sk-circle"></div>
									<div class="sk-circle9 sk-circle"></div>
									<div class="sk-circle10 sk-circle"></div>
									<div class="sk-circle11 sk-circle"></div>
									<div class="sk-circle12 sk-circle"></div>
								</div>
							<input type="hidden" name="isWriter" value="true" />
						</div><!-- /.form-actions -->
					</form>
				</div><!-- /.form-primary -->
			</div><!-- /.tab -->
		</div><!-- /.tabs-body -->
	</div><!-- /.popup-body -->
</div><!-- /.popup popup-login -->

