.article-details{
    .article-image{
        max-width: 450px;
    }
    .article-meta {
        display: flex;
        h5{
            height: 26px;
        }
    }
}
.list-tags{
    margin-top:1px;
}

//Mobile
@media(max-width: 767px){
    .article-details{
        .article-image{
            max-width: 100%;
        }
    }
}