<!-- <div class="popup popup-tertiary mfp-hide" id="popup-add-share-to-fav">
    <div class="popup-inner">
      <header class="popup-head">
        <i class="ico-logo-square"></i>
  
        <a href="#" class="link-close-popup">
          <i class="fa fa-times" aria-hidden="true"></i>
        </a>
      </header>
  
      <div class="popup-body">
        <div class="dropdown">
          <header class="dropdown-head">
            <a class="btn btn-secondary btn-blue link-folders no-binding {{isLoadingFolders ? 'hide-arrow' : ''}}" (click)="dispay_folders($event)">Choose folder</a>
            <div class="sk-fading-circle carret-loader" *ngIf="isLoadingFolders">
              <div class="sk-circle1 sk-circle"></div>
              <div class="sk-circle2 sk-circle"></div>
              <div class="sk-circle3 sk-circle"></div>
              <div class="sk-circle4 sk-circle"></div>
              <div class="sk-circle5 sk-circle"></div>
              <div class="sk-circle6 sk-circle"></div>
              <div class="sk-circle7 sk-circle"></div>
              <div class="sk-circle8 sk-circle"></div>
              <div class="sk-circle9 sk-circle"></div>
              <div class="sk-circle10 sk-circle"></div>
              <div class="sk-circle11 sk-circle"></div>
              <div class="sk-circle12 sk-circle"></div>
            </div>
          </header>
          
          <div class="dropdown-body scrollable-vertical" style="max-height: 250px">
            <ul>
              <li class="add">
                <a data-psy-pop="create-folder-for-article">Create Folder</a>
              </li>
              
              <li class="{{i == 0 ? 'selected' : ''}}" attr.data-folder-id="{{item.id}}" *ngFor="let item of userFolders; let i = index">
                <a >{{item.title}}</a>
              </li>
      
            </ul>
          </div>
  
          <footer class="dropdown-foot" *ngIf="!isAddingArticle && userFolders?.length">
            <a  class="btn btn-secondary btn-block btn-transparent-white" (click)="add_article_to_folder($event)">+ Add</a>
          </footer>
          <div class="sk-fading-circle follow-loader" *ngIf="isAddingArticle">
              <div class="sk-circle1 sk-circle"></div>
              <div class="sk-circle2 sk-circle"></div>
              <div class="sk-circle3 sk-circle"></div>
              <div class="sk-circle4 sk-circle"></div>
              <div class="sk-circle5 sk-circle"></div>
              <div class="sk-circle6 sk-circle"></div>
              <div class="sk-circle7 sk-circle"></div>
              <div class="sk-circle8 sk-circle"></div>
              <div class="sk-circle9 sk-circle"></div>
              <div class="sk-circle10 sk-circle"></div>
              <div class="sk-circle11 sk-circle"></div>
              <div class="sk-circle12 sk-circle"></div>
            </div>
        </div>
      </div>
    </div>
  </div> -->